<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3 ver">Planes IUX</h1>
        <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
                <h1 class="text-center">Tenemos un plan para todos</h1>
                <p class="lead text-center mb-4">Si eres nuevo en IUX recibe 15 dias adicionales al plan que elijas.</p>
                <div class="row justify-content-center mt-3 mb-2">
                    <div class="col-auto">
                        <nav class="nav btn-group">
                            <a href="#monthly" class="btn btn-outline-primary active" data-toggle="tab">Planes</a>
                            <a href="#annual" class="btn btn-outline-primary" data-toggle="tab">Tengo un pin de
                                activacion</a>
                        </nav>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="monthly">
                        <div class="row py-4">
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100" id="payU1">
                                    <div class="text-right">
                                        <img src="/img/pp.jpg" class="mx-auto rounded-circle y"
                                            style="width: 70px; display:none;" alt="...">
                                    </div>
                                    <div class="card-body d-flex flex-column rounded">
                                        <h5>1 Mes</h5>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div class="alert-icon">
                                                <i class="align-middle mr-2 fas fa-fw fa-tags"></i>
                                            </div>
                                            <div class="alert-message">
                                                <strong>Antes </strong><del> $30.000</del> 50% menos
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-2 z">
                                                <h5>Ahora por tan solo</h5>
                                                <span class="display-4 text-danger">$15</span>
                                                <span class="text-small4"><mark>.000</mark></span>
                                            </li>
                                            <li class="mb-2 z">
                                                Para todos los dispositivos dentro de una misma red
                                            </li>
                                            <li class="mb-4 z">
                                                <div class="text-center">
                                                    <img src="/img/pp.jpg" class="mx-auto rounded-circle"
                                                        style="width: 150px;" alt="...">
                                                </div>
                                            </li>
                                            <li class="mb-4 z">
                                                <span class="text-success"><mark>Todo lo que quieres ver cuando lo
                                                        quieres ver y en un mismo lugar...</mark></span>
                                            </li>
                                            <li class="mb-4 y" style="display: none;">
                                                <span class="text-success"><mark>Selecciona un metodo de pago de tu
                                                        confianza...</mark></span>
                                            </li>
                                            <div class="mt-auto">
                                                <input name=".x" class="y payu" type="image"
                                                    src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png"
                                                    alt="PayU" style="display: none;">
                                                <input type="image" class="y"
                                                    src="https://www.nutecoweb.com/wp-content/uploads/2013/10/boton-paypal.png"
                                                    style="width: 170px; display: none;" name="submit" alt="PayPal"
                                                    disabled>
                                            </div>
                                            <!--<form method="post"
                                            action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">-->
                                            <form method="post" class="x" style="display: none;"
                                                action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                                                <li class="mb-4">
                                                    <!--<input name="merchantId" type="hidden" value="508029">
                                                    <input name="accountId" type="hidden" value="512321">-->
                                                    <input name="merchantId" type="hidden" value="825255">
                                                    <input name="accountId" type="hidden" value="832520">
                                                    <input name="description" type="hidden"
                                                        value="Iux suscripción 1 mes">
                                                    <input name="referenceCode" type="hidden" value="S1M">
                                                    <input name="amount" type="hidden" value="15000">
                                                    <input name="tax" type="hidden" value="0">
                                                    <input name="taxReturnBase" type="hidden" value="0">
                                                    <input name="currency" type="hidden" value="COP">
                                                    <input name="signature" type="hidden" value="">
                                                    <input name="test" type="hidden" value="0">
                                                    <input type="hidden" name="actualizar" value="actualizar">

                                                    <!--<input name="responseUrl" type="hidden" value="http://localhost:3000/planes">
                                                    <input name="confirmationUrl" type="hidden" value="http://localhost:3000/planes">-->
                                                    <input name="responseUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/planes">
                                                    <input name="confirmationUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/confir">
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="telephone" class="form-control pagar"
                                                        placeholder="Movil" style="text-align:center" required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="buyerFullName" class="form-control pagar"
                                                        placeholder="Nombre completo" style="text-align:center;"
                                                        required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="email" name="buyerEmail" class="form-control pagar"
                                                        placeholder="Email" style="text-align:center;" required>
                                                </li>
                                                <div class="mt-auto">
                                                    <!--<input name="Submit" type="submit"
                                                        class="btn btn-lg btn-outline-danger pagarpayu"
                                                        value="Adquirir">-->
                                                    <a href="#" class="btn btn-lg btn-outline-danger pagarp" data-toggle="tab">Adquirir</a>
                                                </div>
                                            </form>
                                            <li class="mb-3">
                                                <a href=".y" class="btn btn-outline-danger z plancito"
                                                    data-toggle="tab">Adquirir plan</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href=".y" class="btn btn-outline-danger y plancit" data-toggle="tab"
                                            style="display: none;">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100" id="payU2">
                                    <div class="text-right">
                                        <img src="/img/pp.jpg" class="mx-auto rounded-circle y"
                                            style="width: 70px; display:none;" alt="...">
                                    </div>
                                    <div class="card-body d-flex flex-column rounded">
                                        <h5>2 Meses</h5>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div class="alert-icon">
                                                <i class="align-middle mr-2 fas fa-fw fa-tags"></i>
                                            </div>
                                            <div class="alert-message">
                                                <strong>Antes </strong><del> $60.000</del> 60% menos
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-2 z">
                                                <h5>Ahora por tan solo</h5>
                                                <span class="display-4 text-danger">$24</span>
                                                <span class="text-small4"><mark>.000</mark></span>
                                            </li>
                                            <li class="mb-2 z">
                                                Para todos los dispositivos dentro de una misma red
                                            </li>
                                            <li class="mb-4 z">
                                                <div class="text-center">
                                                    <img src="/img/pp.jpg" class="mx-auto rounded-circle"
                                                        style="width: 150px;" alt="...">
                                                </div>
                                            </li>
                                            <li class="mb-4 z">
                                                <span class="text-success"><mark>Todo lo que quieres ver cuando lo
                                                        quieres ver y en un mismo lugar...</mark></span>
                                            </li>
                                            <li class="mb-4 y" style="display: none;">
                                                <span class="text-success"><mark>Selecciona un metodo de pago de tu
                                                        confianza...</mark></span>
                                            </li>
                                            <div class="mt-auto">
                                                <input name=".x" class="y payu" type="image"
                                                    src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png"
                                                    alt="PayU" style="display: none;">
                                                <input type="image" class="y"
                                                    src="https://www.nutecoweb.com/wp-content/uploads/2013/10/boton-paypal.png"
                                                    style="width: 170px; display: none;" name="submit" alt="PayPal"
                                                    disabled>
                                            </div>
                                            <!--<form method="post"
                                            action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">-->
                                            <form method="post" class="x" style="display: none;"
                                                action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                                                <li class="mb-4">
                                                    <!--<input name="merchantId" type="hidden" value="508029">
                                                    <input name="accountId" type="hidden" value="512321">-->
                                                    <input name="merchantId" type="hidden" value="825255">
                                                    <input name="accountId" type="hidden" value="832520">
                                                    <input name="description" type="hidden"
                                                        value="Iux suscripción 2 meses">
                                                    <input name="referenceCode" type="hidden" value="S2M">
                                                    <input name="amount" type="hidden" value="24000">
                                                    <input name="tax" type="hidden" value="0">
                                                    <input name="taxReturnBase" type="hidden" value="0">
                                                    <input name="currency" type="hidden" value="COP">
                                                    <input name="signature" type="hidden" value="">
                                                    <input name="test" type="hidden" value="0">
                                                    <input type="hidden" name="actualizar" value="actualizar">
                                                    <!--<input name="responseUrl" type="hidden" value="http://localhost:3000/planes">
                                                    <input name="confirmationUrl" type="hidden" value="http://localhost:3000/planes">-->
                                                    <input name="responseUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/planes">
                                                    <input name="confirmationUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/confir">
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="telephone" class="form-control pagar"
                                                        placeholder="Movil" style="text-align:center" required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="buyerFullName" class="form-control pagar"
                                                        placeholder="Nombre completo" style="text-align:center;"
                                                        required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="email" name="buyerEmail" class="form-control pagar"
                                                        placeholder="Email" style="text-align:center;" required>
                                                </li>
                                                <div class="mt-auto">
                                                    <!--<input name="Submit" type="submit"
                                                        class="btn btn-lg btn-outline-danger pagarpayu"
                                                        value="Adquirir">-->
                                                    <a href="#" class="btn btn-lg btn-outline-danger pagarp" data-toggle="tab">Adquirir</a>
                                                </div>
                                            </form>
                                            <li class="mb-3">
                                                <a href=".y" class="btn btn-outline-danger z plancito"
                                                    data-toggle="tab">Adquirir plan</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href=".y" class="btn btn-outline-danger y plancit" data-toggle="tab"
                                            style="display: none;">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100" id="payU3">
                                    <div class="text-right">
                                        <img src="/img/pp.jpg" class="mx-auto rounded-circle y"
                                            style="width: 70px; display:none;" alt="...">
                                    </div>
                                    <div class="card-body d-flex flex-column rounded">
                                        <h5>6 Meses</h5>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div class="alert-icon">
                                                <i class="align-middle mr-2 fas fa-fw fa-tags"></i>
                                            </div>
                                            <div class="alert-message">
                                                <strong>Antes </strong><del> $180.000</del> 61% menos
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-2 z">
                                                <h5>Ahora por tan solo</h5>
                                                <span class="display-4 text-danger">$70</span>
                                                <span class="text-small4"><mark>.000</mark></span>
                                            </li>
                                            <li class="mb-2 z">
                                                Para todos los dispositivos dentro de una misma red
                                            </li>
                                            <li class="mb-4 z">
                                                <div class="text-center">
                                                    <img src="/img/pp.jpg" class="mx-auto rounded-circle"
                                                        style="width: 150px;" alt="...">
                                                </div>
                                            </li>
                                            <li class="mb-4 z">
                                                <span class="text-success"><mark>Todo lo que quieres ver cuando lo
                                                        quieres ver y en un mismo lugar...</mark></span>
                                            </li>
                                            <li class="mb-4 y" style="display: none;">
                                                <span class="text-success"><mark>Selecciona un metodo de pago de tu
                                                        confianza...</mark></span>
                                            </li>
                                            <div class="mt-auto">
                                                <input name=".x" class="y payu" type="image"
                                                    src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png"
                                                    alt="PayU" style="display: none;">
                                                <input type="image" class="y"
                                                    src="https://www.nutecoweb.com/wp-content/uploads/2013/10/boton-paypal.png"
                                                    style="width: 170px; display: none;" name="submit" alt="PayPal"
                                                    disabled>
                                            </div>
                                            <!--<form method="post"
                                            action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/">-->
                                            <form method="post" class="x" style="display: none;"
                                                action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                                                <li class="mb-4">
                                                    <!--<input name="merchantId" type="hidden" value="508029">
                                                    <input name="accountId" type="hidden" value="512321">-->
                                                    <input name="merchantId" type="hidden" value="825255">
                                                    <input name="accountId" type="hidden" value="832520">
                                                    <input name="description" type="hidden"
                                                        value="Iux suscripción 6 meses">
                                                    <input name="referenceCode" type="hidden" value="S6M">
                                                    <input name="amount" type="hidden" value="70000">
                                                    <input name="tax" type="hidden" value="0">
                                                    <input name="taxReturnBase" type="hidden" value="0">
                                                    <input name="currency" type="hidden" value="COP">
                                                    <input name="signature" type="hidden" value="">
                                                    <input name="test" type="hidden" value="0">
                                                    <input type="hidden" name="actualizar" value="actualizar">
                                                    <!--<input name="responseUrl" type="hidden" value="http://localhost:3000/planes">
                                                    <input name="confirmationUrl" type="hidden" value="http://localhost:3000/planes">-->
                                                    <input name="responseUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/planes">
                                                    <input name="confirmationUrl" type="hidden"
                                                        value="https://redflixx.herokuapp.com/confir">
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="telephone" class="form-control pagar"
                                                        placeholder="Movil" style="text-align:center" required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="buyerFullName" class="form-control pagar"
                                                        placeholder="Nombre completo" style="text-align:center;"
                                                        required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="email" name="buyerEmail" class="form-control pagar"
                                                        placeholder="Email" style="text-align:center;" required>
                                                </li>
                                                <div class="mt-auto">
                                                    <!--<input name="Submit" type="submit"
                                                        class="btn btn-lg btn-outline-danger pagarpayu"
                                                        value="Adquirir">-->
                                                    <a href="#" class="btn btn-lg btn-outline-danger pagarp" data-toggle="tab">Adquirir</a>
                                                </div>
                                            </form>
                                            <li class="mb-3">
                                                <a href=".y" class="btn btn-outline-danger z plancito"
                                                    data-toggle="tab">Adquirir plan</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href=".y" class="btn btn-outline-danger y plancit" data-toggle="tab"
                                            style="display: none;">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="annual">
                        <div class="row py-4">
                            <div class="col-sm-12 mb-3 mb-md-0">
                                <div class="card text-center h-100" id="redeen">
                                    <div class="text-right">
                                        <img src="/img/pp.jpg" class="mx-auto rounded-circle z"
                                            style="width: 70px; display:none;" alt="...">
                                    </div>
                                    <div class="card-body d-flex flex-column rounded">
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div class="alert-message">
                                                <input type="text" id="pin" class="col-sm-3 mb-3 mb-md-0"
                                                    placeholder="Ingresa PIN" style="width: 200px; text-align:center;">
                                            </div>
                                        </div>
                                        <ul class="list-unstyled">
                                            <li class="mb-2 z" style="display: none;">
                                                <h5>Pin cargado con</h5>
                                                <span class="display-4 text-danger" id="precio"></span>
                                                <span class="text-small4"><mark>.00</mark></span><br>
                                                <span id="tiempo"></span><br>
                                                Para todos los dispositivos dentro de una misma red
                                            </li>
                                            <li class="mb-4 y">
                                                <div class="text-center">
                                                    <img src="/img/pp.jpg" class="mx-auto rounded-circle"
                                                        style="width: 150px;" alt="...">
                                                </div>
                                            </li>
                                            <li class="mb-4 y">
                                                <span class="text-success"><mark>Todo lo que quieres ver cuando lo
                                                        quieres ver y en un mismo lugar...</mark></span>
                                            </li>
                                            <form class="z" style="display: none;" action="/venta" method="POST">
                                                <li class="mb-4">
                                                    <input type="text" name="telephone"
                                                        class="form-control pagar required" placeholder="Movil"
                                                        style="text-align:center" required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="text" name="buyerFullName"
                                                        class="form-control pagar required"
                                                        placeholder="Nombre completo" style="text-align:center;"
                                                        required>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="email" name="buyerEmail"
                                                        class="form-control pagar required" placeholder="Email"
                                                        style="text-align:center;" required>
                                                </li>
                                                <li class="mb-4">
                                                    <span class="text-success"><mark>Todo lo que quieres ver cuando lo
                                                            quieres ver y en un mismo lugar...</mark></span>
                                                </li>
                                                <li class="mb-4">
                                                    <input type="hidden" name="pin" value="">
                                                    <input type="hidden" name="actualizar" value="actualizar">
                                                </li>
                                                <div class="mt-auto">
                                                    <a href="#" class="btn btn-lg btn-outline-danger pagarp" data-toggle="tab">Activar</a>
                                                    <!--<input name="Submit" type="submit"
                                                        class="btn btn-lg btn-outline-danger pagarpayu" value="Activar">-->
                                                </div>
                                            </form>
                                            <li class="mb-3">
                                                <input type="submit" id="canjear"
                                                    class="btn btn-lg btn-outline-danger y" value="Canjear">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-footer text-right">
                                        <a href=".y" class="btn btn-outline-danger z plancit" data-toggle="tab"
                                            style="display: none;">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="text-center my-4">
            <h2>Frequently asked questions</h2>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-6 ml-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="h6 card-title">Do I need a credit card to sign up?</h5>
                        <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                            quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                            vel, luctus pulvinar, hendrerit id, lorem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="h6 card-title">Do you offer a free trial?</h5>
                        <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                            quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                            vel, luctus pulvinar, hendrerit id, lorem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 ml-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="h6 card-title">What if I decide to cancel my plan?</h5>
                        <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                            quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                            vel, luctus pulvinar, hendrerit id, lorem.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="h6 card-title">Can I cancel at anytime?</h5>
                        <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                            quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                            vel, luctus pulvinar, hendrerit id, lorem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
</main>