<div class='container-fluid p-1'>
  <div class='card'>
    <div class='card-header'>
      <h3>ORDEN DE SEPARACION</h3>
      <input type='hidden' id='agente' value='{{usrs}}' />
      <input type='hidden' id='lt' value='{{lote}}' />
    </div>
    <div class='card-body p-1' id='cuadro2'>
      <a class='fecha'>Selecciona una fecha</a>
      <a class='fi'>Selecciona una fecha</a>
      <div class='row d-flex justify-content-center'>
        <div class='col-12 col-lg-6'>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>PRODUCTO</label>
            </div>
            <select
              id='lote'
              class='custom-select select2'
              name='lote'
              style='width: 100%;'
              required
            >
            </select>
          </div>
        </div>
        <div class='col-12 col-lg-6'>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>ASESOR</label>
            </div>
            <select
              id='asesor'
              class='custom-select select2'
              name='asesor'
              style='width: 100%;'
              required
              disabled
            >
            </select>
          </div>
        </div>
        <div class='col-12 col-lg-12'>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>CLIENTES</label>
            </div>
            <select
              id='clientes'
              class='custom-select select2'
              name='clientes'
              multiple
              style='width: 100%;'
              required
            >
            </select>
          </div>
        </div>
        <div class='col-12 col-md-6 col-lg-4'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>MTR²</label>
            </div>
            <input
              class='form-control text-center'
              type='text'
              name='mtr2'
              aria-label='Total de mtr²'
              autocomplete='off'
              id='mtr2'
              placeholder='Total de mtr²'
              style='background-color: #FFFFCC;'
              disabled
              required
            />
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>VMTR²</label>
            </div>
            <input
              class='form-control text-center cifra'
              type='text'
              name='vmtr2'
              id='vmtr2'
              autocomplete='off'
              aria-label='precio del mtr²'
              placeholder='Precio del mtr²'
              style='background-color: #FFFFCC;'
              required
              disabled
            />
          </div>
        </div>
        <div class='col-12 col-md-6 col-lg-4'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>INICIAL</label>
            </div>
            <input
              type='text'
              aria-label='porcentage'
              class='form-control text-center'
              name='porcentage'
              autocomplete='off'
              placeholder='0%'
              style='background-color: #FFFFCC;'
              id='porcentage'
              disabled
              required
            />
            <input
              type='text'
              aria-label='inicial'
              class='form-control text-center w-25'
              name='inicial'
              autocomplete='off'
              placeholder='Inicial'
              style='background-color: #FFFFCC;'
              id='inicial'
              disabled
            />
          </div>
        </div>
        <div class='col-12 col-md-5 col-lg-3'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>VALOR</label>
            </div>
            <input
              class='form-control text-center'
              name='valor'
              autocomplete='off'
              type='text'
              id='valor'
              aria-label='Total de lote'
              placeholder='Total'
              style='background-color: #FFFFCC;'
              disabled
            />
          </div>
        </div>
        <div class='col-12 col-md-10 col-lg-8'>
          <div class='input-group input-group-sm mb-3'>
            <input type='hidden' name='cupon' id='cupon' />
            <div class='input-group-prepend'>
              <label class='input-group-text px-1' for='proyectos'>DTO</label>
            </div>
            <input
              class='form-control text-center'
              type='text'
              name='dto'
              id='dto'
              autocomplete='off'
              aria-label='descuento'
              placeholder='DESCUENTO'
              style='background-color: #FFFFCC;'
              disabled
            />
            <div class='input-group-prepend'>
              <label class='input-group-text px-1' for='proyectos'>AHO</label>
            </div>
            <input
              class='form-control text-center w-25'
              type='text'
              name='ahorro'
              id='ahorro'
              autocomplete='off'
              aria-label='ahorro'
              placeholder='AHORRO'
              style='background-color: #FFFFCC;'
              disabled
            />
            <div class='input-group-prepend'>
              <button class='btn btn-secondary' data-toggle='modal' data-target='#qpon'>
                SOLICITAR CUPON
              </button>
            </div>
          </div>
        </div>
        <div class='col-12 col-md-4'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>APLICAR DTO EN</label>
            </div>
            <select
              class='form-control'
              style='background-color: #FFFFCC;'
              id='aplyDto'
              name='tipoDto'
              required
            >
              {{! <option value='SEPARACION'>SEPARACION</option>
              <option value='INICIAL'>INICIAL</option>
              <option value='FINANCIACION'>FINANCIACION</option>
              <option value='TOTAL' selected>TOTAL</option> 
              <option value='NINGUNO'>NINGUNO</option> }}
            </select>
          </div>
        </div>
        <div class='col-6 col-md-4 col-lg-3'>
          <div class='input-group input-group-sm mb-2'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>PROMESA</label>
            </div>
            <select
              class='form-control'
              style='background-color: #FFFFCC;'
              id='promesa'
              name='promesa'
              required
              disabled
            >
              <option value=''>SIN PROMESA</option>
              <option value='1'>PROMESA GENERADA</option>
              <option value='2'>PROMESA AUTENTICADA POR CLIENTE</option>
              <option value='3'>PROMESA AUTENTICADA POR AMBOS</option>
            </select>
          </div>
        </div>
        <div class='col-6 col-md-4 col-lg-3'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>QOTA MIN</label>
            </div>
            <input
              class='form-control text-center cifra'
              name='cuotamin'
              autocomplete='off'
              type='text'
              id='cuotamin'
              placeholder='CUOTA'
              style='background-color: #FFFFCC;'
              disabled
              required
            />
          </div>
        </div>
        <div class='col-10 col-md-4 col-lg-3'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>CUOTAS EN INIC</label>
              <button class='btn btn-secondary' id='ini-min' type='button'>-</button>
            </div>
            <input
              class='form-control text-center'
              name='inicialcuotas'
              autocomplete='off'
              type='text'
              id='num-ini'
              placeholder='INI'
              style='background-color: #FFFFCC;'
              value='1'
              required
            />
            <span class='input-group-append'>
              <button class='btn btn-secondary' id='inicialcuotas-btn' type='button'>+</button>
            </span>
          </div>
        </div>
        <div class='col-10 col-md-4 col-lg-3'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text' for='proyectos'>CUOTAS EN FNC</label>
              <button class='btn btn-secondary' id='fnc-min' type='button'>-</button>
            </div>
            <input
              class='form-control text-center'
              name='financiacion'
              autocomplete='off'
              type='text'
              id='num-fnc'
              placeholder='FNC'
              style='background-color: #FFFFCC;'
              value='1'
              required
            />
            <span class='input-group-append'>
              <button class='btn btn-secondary' id='financiacion-btn' type='button'>+</button>
            </span>
          </div>
        </div>
        <div class='col-12 col-lg-12'>
          <div class='input-group input-group-sm mb-3'>
            <div class='input-group-prepend'>
              <label class='input-group-text px-1' for='proyectos'>INI</label>
            </div>
            <input
              class='form-control text-centere'
              type='text'
              name='tini'
              aria-label='Cupon'
              autocomplete='off'
              id='ini'
              placeholder='TOTAL INI'
              style='background-color: #FFFFCC;'
              disabled
            />
            <div class='input-group-prepend'>
              <label class='input-group-text px-1' for='proyectos'>FNC</label>
            </div>
            <input
              class='form-control text-center'
              type='text'
              name='tfnc'
              id='fnc'
              autocomplete='off'
              aria-label='fnc'
              placeholder='TOTAL FNC'
              style='background-color: #FFFFCC;'
              disabled
            />
            <div class='input-group-prepend'>
              <label class='input-group-text px-1' for='proyectos'>TOTAL</label>
            </div>
            <input
              class='form-control text-center'
              type='text'
              name='total'
              id='total'
              autocomplete='off'
              aria-label='total'
              placeholder='TOTAL'
              style='background-color: #FFFFCC;'
              disabled
            />
          </div>
        </div>
        <div class='col-12 col-lg-12'>
          <button type='button' class='btn btn-primary btn-sm float-right guardar'>Guardar Cambios</button>
          <button
            type='button'
            class='btn btn-primary btn-sm float-right quitar mr-2'
            style='display: none;'
          >
            Quitar Bono</button>
        </div>
        <div class='col-12 col-lg-12'>
          <table
            id='proyeccion'
            class='table table-striped table-sm table-hover text-small display responsive nowrap'
            style='width:100%'
          >
            <thead>
              <tr>
                <th>CUOTA</th>
                <th>FECHA</th>
                <th>TIPO</th>
                <th>MONTO</th>
                <th>CUOTA</th>
                <th>FECHA</th>
                <th>MONTO</th>
              </tr>
            </thead>
            <tbody class='tabl w-100'></tbody>
            {{! <tfoot>
          <tr>
            <th colspan='7' class='text-center'>
              <button type='button' class='btn btn-primary btn-sm float-right guardar'>Guardar
                Cambios</button>
            </th>
          </tr>
        </tfoot> }}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN primary modal -->
<div class='modal fade' id='qpon' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-sm' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <span><i class='feather-lg text-danger' data-feather='tag'></i> Cupon de descuento</span>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body m-3 mb-1'>
        <div class='row'>
          <div class='col-sm-9'>
            <p>Seleciona el descuento que quieres generar para el cupon, si se aprueba reciviras un
              WhatsApp con el cupon</p>
          </div>
          <div class='col-sm-3 text-center mb-2'>
            {{!-- {{#if user.admin}}
              <input
                type='text'
                id='porcntgd'
                class='form-control form-control-lg'
                data-mask='00'
                style='text-align:center'
              />
            {{else}}
              <select id='porcntgd' style='text-align-last:center;'>
                <option value='3'>3%</option>
                <option value='5' selected>5%</option>
                <option value='7'>7%</option>
                <option value='10'>10%</option>
              </select>
            {{/if}} --}}
            <select id='dto-modal'></select>
          </div>
          <div class='col-12 d-flex justify-content-end'>
            <button id='gQpon' class='btn btn-sm btn-outline-dark my-2' data-dismiss='modal'>
              Generar cupon
            </button>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <div class='accordion w-100' id='accordionExample'>
          <div class='card'>
            <div class='card-header' id='headingOne'>
              <small
                class='mb-0'
                data-toggle='collapse'
                data-target='#collapseOne'
                aria-expanded='true'
                aria-controls='collapseOne'
                style='cursor: pointer;'
              >
                Collapsible Group Item #1
              </small>
            </div>

            <div
              id='collapseOne'
              class='collapse show'
              aria-labelledby='headingOne'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                Some placeholder content for the first accordion panel. This panel is shown by
                default, thanks to the
                <code>.show</code>
                class.
              </div>
            </div>
          </div>
          <div class='card'>
            <div class='card-header' id='headingTwo'>
              <small
                class='mb-0 collapsed'
                data-toggle='collapse'
                data-target='#collapseTwo'
                aria-expanded='false'
                aria-controls='collapseTwo'
                style='cursor: pointer;'
              >
                Collapsible Group Item #2
              </small>
            </div>
            <div
              id='collapseTwo'
              class='collapse'
              aria-labelledby='headingTwo'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                Some placeholder content for the second accordion panel. This panel is hidden by
                default.
              </div>
            </div>
          </div>
          <div class='card'>
            <div class='card-header' id='headingThree'>
              <small
                class='mb-0 collapsed'
                data-toggle='collapse'
                data-target='#collapseThree'
                aria-expanded='false'
                aria-controls='collapseThree'
                style='cursor: pointer;'
              >
                Collapsible Group Item #3
              </small>
            </div>
            <div
              id='collapseThree'
              class='collapse'
              aria-labelledby='headingThree'
              data-parent='#accordionExample'
            >
              <div class='card-body'>
                And lastly, the placeholder content for the third and final accordion panel. This
                panel is hidden by default.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END primary modal -->