<main class='content'>
  <div class='card'>
    <div class='card-header' id='addProduct' style='display: none;'>
      <form id='crearproducto' enctype='multipart/form-data'>
        <a class='r atras' id='cerrarproducto'>
          <i class='feather-lg float-right mb-3' data-feather='x-circle'></i>
        </a>
        <div class='form-row'>
          <div class='form-group col-md-3'>
            <label for=''>Nombre</label>
            <input type='text' class='form-control' name='nombre' required />
          </div>
          <div class='form-group col-md-3'>
            <label for=''>Laboratorio</label>
            <input type='text' class='form-control' name='laboratorio' required />
          </div>
          <div class='form-group col-md-3'>
            <label for=''>Invima</label>
            <input class='form-control' type='text' name='invima' required />
          </div>
          <div class='form-group col-md-3'>
            <label for=''>Clase</label>
            <select class='form-control' name='clase' required>
              <option value='INDEFINIDA'>Indefinido</option>
              <option value='COMERCIAL'>Comercial</option>
              <option value='GENERICA'>Generico</option>
            </select>
          </div>
        </div>
        <button type='submit' class='btn btn-primary float-right mr-3'>
          <i class='fas fa-fw fa-plus'></i>
          Guardar
        </button>
      </form>
    </div>
    <div class='card-body'>
      <table id='productos' class='table table-sm table-striped display nowrap w-100'>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Laboratorio</th>
            <th>Clase</th>
            <th>Invima</th>
            <th>Stock</th>
            <th>Creado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <div class='card'>
    <div class='card-header' id='addCompra' style='display: none;'>
      <form id='crearcompra' enctype='multipart/form-data'>
        <a class='r atras' id='cerrarcompra'>
          <i class='feather-lg float-right mb-3' data-feather='x-circle'></i>
        </a>
        <div class='form-row'>
          <div class='form-group col-md-5'>
            <label for=''>Producto</label>
            <select id='droga' class='form-control select2 droga' name='droga' required></select>
          </div>
          <div class='form-group col-md-3'>
            <label for='inputPassword4'>Codigo</label>
            <input type='text' class='form-control' name='codigo' required />
          </div>
          <div class='form-group col-md-2'>
            <label for='inputCity'>Fabricacion</label>
            <input class='form-control fecha' type='text' name='fabricacion' required />
          </div>
          <div class='form-group col-md-2'>
            <label for='inputState'>Vencimiento</label>
            <input class='form-control fecha' type='text' name='vencimiento' required />
          </div>
          <div class='form-group col-md-3'>
            <label for='inputZip'>Precio de compra</label>
            <input class='form-control valor' type='text' name='precioCompra' required />
          </div>
          <div class='form-group col-md-3'>
            <label for='inputZip'>Precio de venta</label>
            <input class='form-control valor' type='text' name='precioVenta' required />
          </div>
          <div class='form-group col-md-3'>
            <label for='inputZip'>Cantidad</label>
            <input class='form-control' type='text' name='cantidad' required />
          </div>
          <div class='form-group col-md-3'>
            <label for='inputZip'>Total</label>
            <input class='form-control valor' type='text' name='total' required />
          </div>
        </div>
        <button type='submit' class='btn btn-primary float-right mr-3'>
          <i class='fas fa-fw fa-plus'></i>
          Guardar
        </button>
      </form>
    </div>
    <div class='card-body'>
      <table id='compras' class='table table-sm table-striped display nowrap w-100'>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Laboratorio</th>
            <th>Clase</th>
            <th>Codigo</th>
            <th>Fabricacion</th>
            <th>Vencimiento</th>
            <th>$Compra</th>
            <th>$Venta</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Creado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <div class='card'>
    <div class='card-header' id='addFactura' style='display: none;'>
      <form id='generarfactura'>
        <div class='form-row'>
          <div class='form-group col-3'>
            <input class='form-control fecha' type='text' name='date' required />
          </div>
          <div class='form-group col-9'>
            <a class='r atras' id='cerrarfactura'>
              <i class='feather-lg float-right' data-feather='x-circle'></i>
            </a>
          </div>
          <div class='form-group col-md-2'>
            <label for=''>Type</label>
            <select class='form-control' name='type' required>
              <option value='CC'>CC</option>
              <option value='NIT'>NIT</option>
            </select>
          </div>
          <div class='form-group col-4 col-md-4'>
            <label for=''>DocNum</label>
            <input type='text' class='form-control' name='doc' required />
          </div>
          <div class='form-group col-8 col-md-6'>
            <label for='inputZip'>Name</label>
            <input class='form-control' type='text' name='name' required />
          </div>
          <div class='form-group col-md-8'>
            <label for=''>Adreess</label>
            <input type='text' class='form-control' name='adreess' required />
          </div>
          <div class='form-group col-md-4'>
            <label for='inputZip'>Phone</label>
            <input class='form-control' type='text' name='phone' required />
          </div>
        </div>
        <button type='submit' class='hide' id='enviodatos'></button>
      </form>
      <hr />
      <form id='crearfactura'>
        <div class='form-row'>
          <div class='form-group col-md-6'>
            <label for=''>Producto</label>
            <select id='produc' class='form-control select2 droga' name='droga' required></select>
          </div>
          <div class='form-group col-4 col-md-2'>
            <label for=''>Cantidad</label>
            <input type='text' class='form-control' name='cantidad' required />
          </div>
          <div class='form-group col-8 col-md-4'>
            <label for='inputZip'>Precio unitario</label>
            <input class='form-control valor' type='text' name='valor' required />
          </div>
          <div class='form-group col-12'>
            <button type='submit' class='btn btn-primary float-right'>
              <i class='fas fa-fw fa-plus'></i>
              Agregar
            </button>
          </div>
        </div>
      </form>
      <table id='factura' class='table table-sm table-striped w-100 m-0 p-0'>
        <thead>
          <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Lot</th>
            <th>Price</th>
            <th>Total</th>
            <th>Act</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <button class='btn btn-primary float-right' id='guardarFactura'>
        <i class='fas fa-fw fa-plus'></i>
        Guardar
      </button>
    </div>
    <div class='card-body'>
      <table id='facturas' class='table table-sm table-striped display nowrap w-100'>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>