<main class='content px-1 px-md-4'>
  <input type='hidden' id='idType' value='{{idType}}' />
  <input type='hidden' id='type' value='{{type}}' />

  <div class='accordion' id='accordionExample' hidden>
    <div class='card shadow-lg rounded'>
      <div class='card-header bg-dark' id='headingOne'>
        <h2 class='mb-0'>
          <button
            class='btn btn-link btn-block text-left'
            type='button'
            data-toggle='collapse'
            data-target='#collapseOne'
            aria-expanded='true'
            aria-controls='collapseOne'
          >
            Collapsible Group Item #1
          </button>
        </h2>
      </div>

      <div
        id='collapseOne'
        class='collapse show'
        aria-labelledby='headingOne'
        data-parent='#accordionExample'
      >
        <div class='card-body'>
          Some placeholder content for the first accordion panel. This panel is shown by default,
          thanks to the
          <code>.show</code>
          class.
        </div>
      </div>
    </div>
    <div class='card shadow-lg rounded'>
      <div class='card-header' id='headingTwo'>
        <h2 class='mb-0'>
          <button
            class='btn btn-link btn-block text-left collapsed'
            type='button'
            data-toggle='collapse'
            data-target='#collapseTwo'
            aria-expanded='false'
            aria-controls='collapseTwo'
          >
            Collapsible Group Item #2
          </button>
        </h2>
      </div>
      <div
        id='collapseTwo'
        class='collapse'
        aria-labelledby='headingTwo'
        data-parent='#accordionExample'
      >
        <div class='card-body'>
          Some placeholder content for the second accordion panel. This panel is hidden by default.
        </div>
      </div>
    </div>
    <div class='card shadow-lg rounded'>
      <div class='card-header' id='headingThree'>
        <h2 class='mb-0'>
          <button
            class='btn btn-link btn-block text-left collapsed'
            type='button'
            data-toggle='collapse'
            data-target='#collapseThree'
            aria-expanded='false'
            aria-controls='collapseThree'
          >
            Collapsible Group Item #3
          </button>
        </h2>
      </div>
      <div
        id='collapseThree'
        class='collapse'
        aria-labelledby='headingThree'
        data-parent='#accordionExample'
      >
        <div class='card-body'>
          And lastly, the placeholder content for the third and final accordion panel. This panel is
          hidden by default.
        </div>
      </div>
    </div>
  </div>

  <div class='card shadow-lg mb-5 rounded'>
    <div class='card-header bg-dark rounded-top'>
      <h3 class='text-white'>Tabla de ordenes</h3>
    </div>
    <div class='card-body rounded-bottom px-2 px-md-4'>
      <table id='ordenes' class='table table-sm table-striped display nowrap w-100'>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Producto</th>
            <th>Nota</th>
            <th>Ctd</th>
            <th>Precio</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>

<!-- BEGIN primary modal -->
<div class='modal fade' id='AddProduct' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
    <form id='crearproducto' enctype='multipart/form-data' class='w-100'>
      <div class='modal-content card position-relative'>
        <div
          class='position-absolute w-100 h-100'
          id='carga'
          style='left: 0; top: 0; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;'
        >
          <div class='text-white' style='text-align: center;'>
            <i class='fas fa-spinner fa-pulse fa-2x'></i>
            <strong class='mt-2'>Cargando...</strong>
          </div>
        </div>
        <div class='modal-header'>
          <div class='w-100 d-flex justify-content-between align-items-center flex-wrap'>
            <div class='p-1 flex-grow-1'>
              <h3 class='modal-title'>ORDEN</h3>
            </div>
            <div class='p-0'>
              <a class='r border-right px-2'><i class='feather-md' data-feather='printer'></i></a>
              <a class='r border-right px-2'>
                <i class='feather-md' data-feather='shopping-bag'></i>
              </a>
              <a class='r border-right px-2'><i class='feather-md' data-feather='slash'></i></a>
              <a id='edit' class='r border-right px-2'>
                <i class='feather-md' data-feather='edit-3'></i>
              </a>
              <a class='r border-right px-2' hidden><i
                  class='feather-md'
                  data-feather='trash-2'
                ></i></a>
              <a class='r' data-dismiss='modal' aria-label='Close'>
                <i class='feather-lg' data-feather='x-circle'></i>
              </a>
            </div>
          </div>
        </div>
        <div class='modal-body p-3 bg-light'>
          <div class='form-row'>
            <div class='form-group col-7 col-md-9'>
              <input type='hidden' name='tipo' value='VENTA' />
            </div>
            <div class='form-group col-5 col-md-3'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'>#</span>
                </div>
                <input
                  type='text'
                  id='id'
                  class='form-control'
                  name='id'
                  placeholder='Orden'
                  readonly
                />
              </div>
            </div>
          </div>
          <div class='ini'></div>
          {{! <div class='form-row pedido position-relative unico'>
            <div
              class='position-absolute ocu w-100'
              style='left: 0; top: 0; z-index: 1000; display: none;'
            >
              <div class='input-group w-100'>
                <input class='form-control nota' type='text' name='nota' placeholder='Nota producto' />
                <div class='input-group-append'>
                  <button type='button' class='btn btn-dark' onclick='setNote(this, false)'>
                    <i class='fas fa-angle-up'></i>
                  </button>
                </div>
              </div>
            </div>
            <div class='form-group col-1 d-block d-sm-none'>
              <div class='btn-group'>
                <button
                  type='button'
                  class='btn btn-light p-1 extra'
                  data-toggle='dropdown'
                  aria-expanded='false'
                >
                  <i class='fas fa-fw fa-ellipsis-v'></i>
                </button>
                <div class='dropdown-menu'>
                  <a class='dropdown-item' href='#' onclick='setNote(this)'>Nota producto</a>
                  <div class='dropdown-divider eli' style='display: none;'></div>
                  <a
                    class='dropdown-item eli'
                    style='display: none;'
                    onclick='deleteProduct(this)'
                  >Eliminar</a>
                </div>
              </div>
            </div>
            <div class='form-group col-7 col-md-4'>
              <input class='code' type='hidden' name='code' />
              <input type='hidden' name='unitario' />
              <input type='hidden' name='monto' />
              <select class='form-control products' name='producto' required></select>
            </div>
            <div class='form-group col-4 col-md-2'>
              <div class='input-group'>
                <input
                  type='text'
                  class='form-control cantidad edi'
                  name='cantidad'
                  placeholder='Cant.'
                  required
                />
                <div class='input-group-append d-block d-sm-none'>
                  <button
                    class='btn btn-outline-primary px-2'
                    type='button'
                    onclick='setProduct(this)'
                  >
                    <i class='fas fa-fw fa-plus'></i>
                  </button>
                </div>
              </div>
            </div>
            <div class='form-group col-12 col-md-6 d-none d-md-block'>
              <div class='input-group'>
                <input
                  class='form-control edi'
                  type='text'
                  name='nota'
                  placeholder='Nota producto'
                />
                <div class='input-group-append'>
                  <button
                    class='btn btn-outline-danger'
                    id='hidelecte'
                    onclick='deleteProduct(this)'
                  >
                    <i class='fas fa-fw fa-trash'></i>
                  </button>
                  <button class='btn btn-outline-primary' type='button' onclick='setProduct(this)'>
                    <i class='fas fa-fw fa-plus'></i>
                  </button>
                </div>
              </div>
            </div>
          </div> }}

          <div id='sesion' class='row mt-3'>
            <div class='form-group col-6 col-md-3'>
              <div class='input-group'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'>$</span>
                </div>
                <input
                  id='total'
                  type='text'
                  class='form-control'
                  name='total'
                  placeholder='Total orden'
                  readonly
                  required
                />
              </div>
            </div>
            <div class='form-group col-6 col-md-9'>
              <div class='btn-group btn-group-toggle float-right' data-toggle='buttons'>
                <label class='btn btn-outline-primary'>
                  <input type='radio' name='type' id='domicilio' value='domicilio' required />
                  Domicilio
                </label>
                <label class='btn btn-outline-primary'>
                  <input type='radio' name='type' id='mesas' value='mesa' required />
                  Mesas
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class='modal-footer'>
          <button
            type='reset'
            class='btn btn-outline-danger'
            data-dismiss='modal'
            aria-label='Close'
          >
            <i class='fas fa-fw fa-ban'></i>
            Cancelar
          </button>
          <button type='submit' class='btn btn-outline-primary'>
            <i class='fas fa-fw fa-plus'></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END primary modal -->

<script src='/controllers/orders.js'></script>