<main class="text-center cuerpo">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="https://inmovili.com/">inmovili</a>
                    <a class="nav-link" href="/signup">Registro</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <img src="img/avatars/avatar.svg" alt="Chris Wood" class="img-fluid" width="100" height="100" />
            <h1 class="cover-heading text-white">inmovili</h1>
            <p class="lead">Hemos desarrollado una plataforma pensada para promover y potenciar la gestión inmobiliaria
                en un entorno colaborativo</p>
            <p class="lead">
                <a href="/signin" class="btn btn-lg btn-secondary">Ingresar</a>
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>inmovili template for <a href="https://inmovili.com/">inmovili</a>, by <a
                        href="https://www.facebook.com/inmovilli">@inmovili</a>.</p>
            </div>
        </footer>
    </div>
</main>