<main class="main d-flex">
    <img src="/img/avatars/avatar.svg" style="width: 100vw; height: 100vh;" alt="Red Elite">
    <!--<div class="" id="player" style="width: 100vw; height: 100vh;"></div>-->
</main>