<main class="main d-flex">
    <div class="_12M2j" style="background-color: rgb(255, 255, 255);">
        <div class="_1EK5E">
            <div class="_1rRCU">
                <div class="_1Iw2V"><img
                        src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20150%2075%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%2F%3E"
                        style="width: 100%; position: absolute;"><canvas width="150" height="75"
                        style="width: 100%; position: absolute;"></canvas></div>
            </div>
            <div class="_3MtWw" style="color: black;">
                <div class="_2RgZG">Home</div>
                <div class="_2RgZG">About</div>
                <div class="_2RgZG">Contact</div>
            </div>
        </div>
        <div class="_7mcQ9" style="">
            <div class="_2oX4A" style="color: black;">
                <div class="_2hVsJ">
                    <div class="s3qS3">Welcome to GRUPO</div>
                    <div class="_1vTUd">Let’s Chat</div>
                </div>
                <div class="_1AW3H _2Bme4"></div>
            </div>
            <div class="Y8Nll"
                style="background-image: url(&quot;https://static.wixstatic.com/media/61449d37e2c84f6ca369b41542d785a3.jpg&quot;);">
            </div>
        </div>
        <div class="_1TcX9" style="color: black;">
            <div class="j_ydd" style="">About</div>
            <div class="_1l7ra" style="">The main discussion topics at GRUPO often pave the way to surprising and
                unexpected conversations thanks to our engaged forum users. Our Forum is dedicated to enhancing the
                forum experience by offering plenty of opportunities for users to engage with each other in an
                interesting and safe online environment.</div>
        </div>
        <div class="_3RXEc" style="background-color: rgb(244, 255, 105);">
            <div class="_3Cznp" style="color: black;">
                <div class="_2kPjE">Contact</div>
                <div class="_4zVxe _25-dk"><span>GRUPO</span><span>500 Terry Francois Street
                        San Francisco, CA 94158</span></div>
                <div class="_4zVxe _1ddMq"><span>Tel 123-456-7890
                        Email info@mysite.com</span></div>
            </div>
            <div class="_4zVxe _1mb6o" style="color: black;">
                <div>Stay Connected</div>
                <div class="Bv6uz">
                    <div class="jn3TQ">
                        <div class="_3L_Gh _3jNQL _2Bme4"></div>
                        <div class="_3L_Gh _3iUmP _2Bme4"></div>
                        <div class="_3L_Gh J7aLd _2Bme4"></div>
                    </div>
                    <div class="_3exor"><span>Facebook</span><span>Instagram</span><span>Youtube</span></div>
                </div>
            </div>
            <div class="_4zVxe _1Bv-L" style="color: black;">
                <div class="_3V6V1">Or Leave a Message Here</div>
                <div class="lKI5L" style="border-color: black;">
                    <div class="_5XnM_">
                        <div class="_6B9bu">Full Name</div>
                        <div class="_3PdOU">Email*</div>
                    </div>
                    <div class="_24VI0">Subject</div>
                    <div class="_1CuCn">Your Massege…</div>
                </div>
                <div class="_1Zs9O" style="background-color: black; color: rgb(244, 255, 105);">Submit</div>
            </div>
        </div>
    </div>
</main>