<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3">
                                <i class="feather-lg text-primary" data-feather="shopping-cart"></i>
                            </div>
                            <div id"datoslineadesendente"></div>
                            <div class="media-body">
                                <h3 class="mb-2" id="ventames">0</h3>
                                <div class="mb-0">Ventas Mes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3">
                                <i class="feather-lg text-warning" data-feather="shopping-cart"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" id="promedio"></h3>
                                <div class="mb-0">Ventas A単o</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3">
                                <i class="feather-lg text-success" data-feather="dollar-sign"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" id="ventaprecio" data-mask="000,000.000.00"></h3>
                                <div class="mb-0">Total Mes</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3">
                                <i class="feather-lg text-primary" data-feather="dollar-sign"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" id="utilidadneta"></h3>
                                <div class="mb-0">Total A単o</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl d-none d-xxl-flex">
                <div class="card flex-fill">
                    <div class="card-body py-4">
                        <div class="media">
                            <div class="d-inline-block mt-2 mr-3">
                                <i class="feather-lg text-info" data-feather="dollar-sign"></i>
                            </div>
                            <div class="media-body">
                                <h3 class="mb-2" id="utilidad"></h3>
                                <div class="mb-0">Totales</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <span class="badge badge-primary float-right">Monthly</span>
                        <h5 class="card-title mb-0">Totales</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart chart-lg">
                            <!--<canvas id="chartjs-dashboard-line"></canvas>-->
                            <canvas id="chartjs-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <!--<div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>-->
                        <span class="badge badge-primary float-right">Utilidades</span>
                        <h5 class="card-title mb-0">Directas / Indirectas</h5>
                    </div>
                    <div class="card-body d-flex w-100">
                        <div class="align-self-center chart chart-lg">
                            <canvas id="chartjs-dashboard-bar"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!--col-12 col-xl-4 d-none d-xl-flex-->
            <div class="col-12 col-lg-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <span class="badge badge-info float-right">Asesores del A単o</span>
                        <h5 class="card-title mb-0">5 Mejores</h5>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <img id="asesor-imagen1" src="/img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Ashley Briggs">
                            <div class="media-body">
                                <small id="asesor-rango1" class="float-right text-navy"></small>
                                <strong id="asesor-name1"></strong><br />
                                <small class="text-muted" id="asesor-ventas1"></small><br />

                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesor-imagen2" src="img/avatars/avatar.jpg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Chris Wood">
                            <div class="media-body">
                                <small id="asesor-rango2" class="float-right text-navy"></small>
                                <strong id="asesor-name2"></strong><br />
                                <small class="text-muted" id="asesor-ventas2"></small>
                                <!--<div class="border text-sm text-muted p-2 mt-1">
                                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet adipiscing...
                                </div>-->
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesor-imagen3" src="img/avatars/avatar-4.jpg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesor-rango3" class="float-right text-navy"></small>
                                <strong id="asesor-name3"></strong><br />
                                <small class="text-muted" id="asesor-ventas3"></small>
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesor-imagen4" src="img/avatars/avatar-4.jpg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesor-rango4" class="float-right text-navy"></small>
                                <strong id="asesor-name4"></strong><br />
                                <small class="text-muted" id="asesor-ventas4"></small>
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesor-imagen5" src="img/avatars/avatar-4.jpg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesor-rango5" class="float-right text-navy"></small>
                                <strong id="asesor-name5"></strong><br />
                                <small class="text-muted" id="asesor-ventas5"></small>
                            </div>
                        </div>
                        <!--<a href="#" class="btn btn-primary btn-block">Load more</a>-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <span class="badge badge-info float-right">Asesores del Mes</span>
                        <h5 class="card-title mb-0">5 Mejores</h5>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <img id="asesr-imagen1" src="/img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Ashley Briggs">
                            <div class="media-body">
                                <small id="asesr-rango1" class="float-right text-navy">Nadie Aun</small>
                                <strong id="asesr-name1">Nadie Aun</strong><br />
                                <small class="text-muted" id="asesr-ventas1">Nadie Aun</small><br />

                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesr-imagen2" src="img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Chris Wood">
                            <div class="media-body">
                                <small id="asesr-rango2" class="float-right text-navy">Nadie Aun</small>
                                <strong id="asesr-name2">Nadie Aun</strong><br />
                                <small class="text-muted" id="asesr-ventas2">Nadie Aun</small>
                                <!--<div class="border text-sm text-muted p-2 mt-1">
                                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
                                    libero, sit amet adipiscing...
                                </div>-->
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesr-imagen3" src="/img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesr-rango3" class="float-right text-navy">Nadie Aun</small>
                                <strong id="asesr-name3">Nadie Aun</strong><br />
                                <small class="text-muted" id="asesr-ventas3">Nadie Aun</small>
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesr-imagen4" src="/img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesr-rango4" class="float-right text-navy">Nadie Aun</small>
                                <strong id="asesr-name4">Nadie Aun</strong><br />
                                <small class="text-muted" id="asesr-ventas4">Nadie Aun</small>
                            </div>
                        </div>

                        <hr />
                        <div class="media">
                            <img id="asesr-imagen5" src="/img/avatars/avatar.svg" width="36" height="36"
                                class="rounded-circle mr-2" alt="Stacie Hall">
                            <div class="media-body">
                                <small id="asesr-rango5" class="float-right text-navy">Nadie Aun</small>
                                <strong id="asesr-name5">Nadie Aun</strong><br />
                                <small class="text-muted" id="asesr-ventas5">Nadie Aun</small>
                            </div>
                        </div>
                        <!--<a href="#" class="btn btn-primary btn-block">Load more</a>-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Proyectos</h5>
                    </div>
                    <div class="p-4 bg-light">
                        <h2>Nuestros proyyectos!</h2>
                        <p class="mb-0 text-sm">Lideres en el top de venntas</p>
                    </div>


                    <div class="card-columns">
                        <div class="card">
                            <img class="card-img" src="/img/logos/CC.png" alt="Card image">
                        </div>
                        <div class="card">
                            <img class="card-img" src="/img/logos/AC.png" alt="Card image">
                        </div>
                        <div class="card">
                            <img class="card-img" src="/img/logos/PP.png" alt="Card image">
                        </div>
                        <div class="card">
                            <img class="card-img" src="/img/logos/CP.png" alt="Card image">
                        </div>
                        <div class="card">
                            <img class="card-img" src="/img/logos/HL.png" alt="Card image">
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 col-xl-8 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Balance Total</h5>
                    </div>
                    <table id="datatables5" class="table table-striped table-hover display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:1%;">A</th>
                                <th style="width:1%;" data-priority="2">A単o</th>
                                <th style="width:1%;">Mes</th>
                                <th style="width:1%;">ventas</th>
                                <th style="width:1%;">Promedio</th>
                                <th style="width:1%;">Totales</th>
                                <th style="width:1%;">Utilidad</th>
                                <th style="width:1%;">U. Neta</th>
                                <th style="width:1%;" data-priority="1">Nivel</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Calendar</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="chart">
                                <div id="datetimepicker-dashboard"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Balance Total</h5>
                    </div>
                    <table id="datatables6" class="table table-sm table-striped table-hover display nowrap"
                        style="width:100%">
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>