<main class='content'>
  <div class='card shadow-lg mb-5 rounded'>
    <div class='card-header bg-dark rounded-top'>
      <h3 class='text-white'>COMERCIOS</h3>
    </div>
    <div class='card-body rounded-bottom'>
      <table id='shops' class='table table-striped display nowrap w-100'>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Comercio</th>
            <th>nit</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Distancia</th>
            <th>Direccion</th>
            <th>A cargo</th>
            <th>Asesor</th>
            <th>Creado</th>
            <th>Estado</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>

<!-- BEGIN primary modal -->
<div
  class='modal fade'
  id='AddProduct'
  tabindex='-1'
  role='dialog'
  data-backdrop='static'
  data-keyboard='true'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered modal-lg' role='document'>
    <form id='crearproducto' enctype='multipart/form-data'>
      <div class='modal-content card position-relative'>
        <div
          class='position-absolute w-100 h-100'
          id='carga'
          style='left: 0; top: 0; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;'
        >
          <div class='text-white' style='text-align: center;'>
            <i class='fas fa-spinner fa-pulse fa-2x'></i>
            <strong class='mt-2'>Cargando...</strong>
          </div>
        </div>
        <div class='modal-header'>
          <h3 class='modal-title'>Creacion de comercios</h3>
          <a class='r atras close float-right' data-dismiss='modal' aria-label='Close'>
            <i class='feather-lg' data-feather='x-circle'></i>
          </a>
        </div>
        <div class='modal-body p-3 bg-light'>
          <div class='row no-gutters'>
            <div class='col-md-4 position-relative'>
              <a class='r atras position-absolute' id='deleteImage' style='top: 5%; left: 5%;'>
                <i class='feather-md' data-feather='x-circle'></i>
              </a>
              <img id='imagen' type='img' src='/img/subir.png' class='img-fluid' alt='...' />
              <button
                type='button'
                class='position-absolute btn btn-sm btn-outline-primary img'
                style='bottom: 5%; left: 80%;'
              >
                <i class='fas fa-fw fa-upload'></i>
              </button>
            </div>
            <div class='col-md-8'>
              <div class='card-body'>
                <div class='form-row'>
                  <div class='form-group col-10'>
                    <h5 class='card-title'>Estado del comercio</h5>
                  </div>
                  <div class='form-group col-2'>
                    <div class='btn-group-toggle' data-toggle='buttons'>
                      <label class='btn btn-outline-primary active'>
                        <input type='checkbox' id="estado" name="estado" value="1" checked />
                        <i class='feather-md' id="status_on" data-feather='thumbs-up'></i>
                        <i class='feather-md' id="status_off" data-feather='thumbs-down'></i>
                      </label>
                    </div>
                  </div>
                  <div class='form-group col-md-2 col-2'>
                    <input type='file' name='image' id='inputFile' style='display: none;' />
                    <input type='text' class='form-control' name='id' readonly />
                  </div>
                  <div class='form-group col-md-6 col-10'>
                    <input
                      type='text'
                      class='form-control edi'
                      name='nombre'
                      placeholder='Nombre'
                      required
                    />
                  </div>
                  <div class='form-group col-md-4'>
                    <input
                      type='text'
                      class='form-control valor edi'
                      name='nit'
                      placeholder='Nit'
                    />
                  </div>
                  <div class='form-group col-md-6'>
                    <input type='text' class='form-control edi' name='email' placeholder='Email' />
                  </div>
                  <div class='form-group col-md-6'>
                    <div class='input-group'>
                      <div class='input-group-prepend'>
                        <span class='input-group-text' id='Movl'>+57</span>
                      </div>
                      <input
                        type='text'
                        class='form-control edi'
                        placeholder='Telefono'
                        autocomplete='off'
                        name='movil'
                        data-mask='000 000 0000'
                        required
                      />
                    </div>
                  </div>
                  <div class='form-group col-md-12'>
                    <input
                      type='text'
                      class='form-control edi'
                      name='direccion'
                      placeholder='Direccion del comercio'
                      required
                    />
                  </div>
                  <div class='form-group col-md-6'>
                    <div class='input-group'>
                      <div class='input-group-prepend'>
                        <span class='input-group-text'>Ubicacion</span>
                      </div>
                      <input
                        type='text'
                        id='latitud'
                        class='form-control form-control-no-border'
                        placeholder='Latitud'
                        autocomplete='off'
                        name='latitud'
                        readonly
                      />
                    </div>
                  </div>
                  <div class='form-group col-md-6'>
                    <div class='input-group'>
                      <input
                        type='text'
                        id='longitud'
                        class='form-control form-control-no-border'
                        placeholder='Longitud'
                        autocomplete='off'
                        name='longitud'
                        readonly
                      />
                      <div class='input-group-append'>
                        <button
                          type='button'
                          class='btn btn-outline-primary'
                          onclick='getLocation()'
                        >
                          <i class='feather-md' data-feather='map-pin'></i>
                          Obtener
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class='form-group col-12'>
                    <h3 class='card-title'>Datos del representante</h3>
                  </div>
                  <div class='form-group col-md-2 col-2'>
                    <input type='hidden' class='form-control' id='person' name='person' />
                    <select class='form-control' id='docType' name='docType'>
                      <option value='CC'>CC</option>
                      <option value='CE'>CE</option>
                      <option value='PP'>PP</option>
                      <option value='TI'>TI</option>
                    </select>
                  </div>
                  <div class='form-group col-md-4 col-10'>
                    <div class='input-group'>
                      <input
                        type='text'
                        id='docNumber'
                        name='docNumber'
                        class='form-control edi'
                        placeholder='Documento'
                        autocomplete='off'
                      />
                      <div class='input-group-append'>
                        <button
                          type='button'
                          class='btn btn-outline-primary'
                          onclick='consultarDocu()'
                        >
                          <i class='feather-md' data-feather='refresh-cw'></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class='form-group col-md-6'>
                    <input
                      type='text'
                      id='fullName'
                      name='fullName'
                      class='form-control edi'
                      placeholder='Nombre'
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <button
            type='reset'
            class='btn btn-outline-danger'
            data-dismiss='modal'
            aria-label='Close'
          >
            <i class='fas fa-fw fa-ban'></i>
            Cancelar
          </button>
          <button type='submit' class='btn btn-outline-primary'>
            <i class='fas fa-fw fa-plus'></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END primary modal -->