<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, shrink-to-fit=no">
  <meta name="description" content="Bienes Raices &amp; Sistema inmobiliario">
  <meta name="author" content="RETFLY">
  <title>INMOBILIARIO</title>
  {{!-- <link rel="icon" href="https://www.grupoelitefincaraiz.com/img/avatars/avatar.ico"> --}}
  {{!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin> --}}
  <link href="/css/stilos.css" rel="Stylesheet" id="linkestilo">

  
    <!-- Bootstrap core CSS -->
  {{!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> --}}
  <link href="/css/corporate.css" rel="stylesheet">
  <!-- <link href="/css/modern.css" rel="stylesheet"> -->
  <!-- <script src="//site.com/playerjs.js" type="text/javascript"></script> -->
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'> --}}
  <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.css">
    
  {{!-- <link href="/css/carousel.css" rel="stylesheet"> --}}

  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0Ahtp4GSCxBlABtie3m3BTzWCg-eQ4UE&loading=async&callback=initMap" defer></script> --}}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type="text/javascript" src="/js/jspdf.plugin.autotable.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/common.js"></script>
  <!--Obligatorio que la libreria datepicker este en el footer justo despues de los js de bootstrap para no causar conflicto-->
  <script src="/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js"></script>
  <script src="/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
  <script src="/js/moment-locales.min.js"></script>
  {{!-- <script src="/js/playerjs.js"> </script> --}}
  {{!-- <script src=" https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script> --}}
</head>

<body>
  {{#if user}}
  <div class="wrapper">
    {{>navigation}}
    <div class="main">
      {{>navigation2}}
      {{{ body }}}
      {{>foo/footer}}
    </div>
  </div>
  {{else}}
  {{{ body }}}
  {{/if}} 

  {{>message}}
</body>

  <script src="/js/scriptss.js"></script>
</html>