{{#if user}}
<input type="hidden" id="usuarioadmin" value="{{user.admin}}">
<nav id="sidebar" class="sidebar">
	<div class="sidebar-content ">
		<a class="sidebar-brand" href="/tablero">
			<i class="align-middle" data-feather="box"></i>
			<span class="align-middle">Grupo Elite</span>
		</a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Main
			</li>
			<!--<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/social">
					<i class="align-middle" data-feather="home"></i> <span class="align-middle">Social</span>
					<span class="sidebar-badge badge badge-primary">New</span>
				</a>
			</li>-->
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/tablero">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Tablero</span>
					<span class="sidebar-badge badge badge-primary">New</span>
				</a>
			</li>
			<!--<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/ventas">
					<i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle">Ventas</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>-->
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/productos">
					<i class="align-middle" data-feather="shopping-cart"></i> <span
						class="align-middle">Productos</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/reportes">
					<i class="align-middle" data-feather="layers"></i> <span class="align-middle">Reportes</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/pagos">
					<i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Pagos</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/solicitudes">
					<i class="align-middle" data-feather="bell"></i> <span
						class="align-middle">Solicitudes</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>
			<li class="sidebar-item active">
				<a class="sidebar-link" href="/links/red">
					<i class="align-middle" data-feather="users"></i> <span
						class="align-middle">Red</span>
					<span class="sidebar-badge badge badge-primary"></span>
				</a>
			</li>
		</ul>

		<div class="sidebar-bottom d-none d-lg-block">
			<div class="media">
				<img class="rounded-circle mr-3" src="/img/avatars/avatar.svg" alt="Soporte" width="40" height="40">
				<div class="media-body">
					<h5 class="mb-1">Contacto</h5>
					<div>
						<i class="fas fa-circle text-success"></i> Online
					</div>
				</div>
			</div>
		</div>

	</div>
</nav>
{{/if}}