<main class='content'>
  <div class='card'>
    <div class='card-body'>
      <table id='articulos' class='table table-sm table-striped display nowrap w-100'>
        <thead>
          <tr>
            <th></th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Creado</th>
            <th>Descripcion</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</main>

<!-- BEGIN primary modal -->
<div class='modal fade' id='AddProduct' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered modal-md' role='document'>
    <form id='creararticulo' enctype='multipart/form-data' class='w-100'>
      <div class='modal-content card position-relative'>
        <div
          class='position-absolute w-100 h-100'
          id='loading'
          style='left: 0; top: 0; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;'
        >
          <div class='text-white' style='text-align: center;'>
            <i class='fas fa-spinner fa-pulse fa-2x'></i>
            <strong class='mt-2'>Cargando...</strong>
          </div>
        </div>
        <div class='modal-header'>
          <h3 class='modal-title'>Creacion de articulos</h3>
          <a class='r atras close float-right' data-dismiss='modal' aria-label='Close'>
            <i class='feather-lg' data-feather='x-circle'></i>
          </a>
        </div>
        <div class='modal-body p-3 bg-light'>
          <div class='card mb-3 rounded-top data-basic'>
            <div class='card-body'>
              <h5 class='card-title'>Datos del grupo</h5>
              <div class='form-row'>
                <div class='form-group col-md-1 col-2'>
                  <input type='text' class='form-control' id='id' name='id' readonly />
                </div>
                <div class='form-group col-md-5 col-10'>
                  <input
                    type='text'
                    class='form-control edi'
                    name='nombre'
                    placeholder='Nombre'
                    required
                  />
                </div>
                <div class='form-group col-md-3'>
                  <select class='form-control measuring edi' name='umedida' required>
                    <option>Und.Medida</option>
                  </select>
                </div>
                <div class='form-group col-md-3'>
                  <select class='form-control edi' name='categoria' required>
                    <option>Categorias</option>
                    <option value='Medicamentos'>Medicamentos</option>
                    <option value='Abarrotes'>Abarrotes</option>
                    <option value='Textiles'>Textiles</option>
                    <option value='Ferretería'>Ferretería</option>
                    <option value='Licores'>Licores</option>
                    <option value='Jardinería'>Jardinería</option>
                    <option value='Electrónica'>Electrónica</option>
                    <option value='Electrodomésticos'>Electrodomésticos</option>
                    <option value='Juguetería'>Juguetería</option>
                    <option value='Papelería'>Papelería</option>
                    <option value='Cosméticos'>Cosméticos</option>
                    <option value='Higiene'>Higiene</option>
                    Personal
                    <option value='Alimentos'>Alimentos</option>
                    y Bebidas
                    <option value='Bebidas'>Bebidas</option>
                    No Alcohólicas
                    <option value='Muebles'>Muebles</option>
                    <option value='Ropa'>Ropa</option>
                    y Accesorios
                    <option value='Calzado'>Calzado</option>
                    <option value='Artículos'>Artículos</option>
                    de Oficina
                    <option value='Deportes'>Deportes</option>
                    <option value='Automotriz'>Automotriz</option>
                    <option value='Productos'>Productos</option>
                    de Limpieza
                    <option value='Joyería'>Joyería</option>
                    <option value='Material'>Material</option>
                    de Construcción
                    <option value='Mascotas'>Mascotas</option>
                    <option value='Herramientas'>Herramientas</option>
                  </select>
                </div>
                <div class='form-group col-md-12'>
                  <textarea
                    rows='2'
                    class='form-control edi'
                    name='descripcion'
                    placeholder='Describe tu producto de forma general'
                  ></textarea>
                </div>
                <div class='form-group col-6 ini inic'>
                  <input
                    class='form-control edi text-center num'
                    type='text'
                    name='ctd_ini'
                    placeholder='Ctd inicial'
                    required
                  />
                </div>
                <div class='form-group col-6 ini inic'>
                  <input
                    class='form-control edi text-center cifra'
                    type='text'
                    name='cost_ini'
                    placeholder='Coste inicial'
                    required
                  />
                </div>
                <div class='form-group col-md-12 d-flex justify-content-between align-items-center'>
                  <div>
                    <small>Cantidades:</small>
                    <div id='cantidades'></div>
                  </div>
                  <div class='input-group' style='width: 6rem;' title='Cantidad'>
                    <input
                      class='form-control edi cantidad'
                      type='text'
                      name='cantidades'
                      placeholder='Ctd.'
                      required
                    />
                    <div class='input-group-append'>
                      <button id='cantidad' type='button' class='btn btn-primary' disabled>
                        <i class='feather-md' data-feather='plus'></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='accordion' id='references'></div>

          <hr class='mt-0' />
          <div class='d-flex align-items-center align-content-center flex-wrap'>
            <div class='px-2 flex-grow-1'>Referencias</div>
            <div class='px-2'>
              <button type='button' class='btn btn-sm btn-outline-primary' onclick='setRef()'>
                <i class='fas fa-fw fa-plus'></i>
                Referencia
              </button>
            </div>
            <div class='px-2'>
              <button type='button' class='btn btn-sm btn-outline-primary' onclick='setProduct()'>
                <i class='fas fa-fw fa-plus'></i>
                Caracteristica
              </button>
            </div>
          </div>

          <hr />

          <div class='d-flex align-items-center align-content-center flex-wrap'>
            <div class='p-2 flex-grow-1'>--- Caracteristicas --------------</div>
            <div class='p-2'><i data-feather='plus'></i></div>
          </div>

          <div class='krt referencia'>
            <input type='hidden' class='ref_id ref' name='krt' value='krt' />
          </div>
        </div>
        <div class='modal-footer'>
          <button
            type='reset'
            class='btn btn-outline-danger'
            data-dismiss='modal'
            aria-label='Close'
          >
            <i class='fas fa-fw fa-ban'></i>
            Cancelar
          </button>
          <button type='submit' class='btn btn-outline-primary'>
            <i class='fas fa-fw fa-plus'></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END primary modal -->

<script src='/controllers/articles.js'></script>