<main class="content">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <p><img id="img_02" src="/img/avatars/avatar-3.jpg" width="384" height="240" alt="As"></p>
                    </div>
                    <div class="card-body">
                        <table id="cartera" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="width:5%;">Id</th>
                                    <th style="width:10%;">Proyecto</th>
                                    <th style="width:10%;">Mz</th>
                                    <th style="width:10%;">Lote</th>
                                    <th style="width:5%;">StdLt</th>
                                    <th style="width:3%;">Cliente</th>
                                    <th style="width:15%;">Documento</th>
                                    <th style="width:15%;">Fecha</th>
                                    <th style="width:15%;">Asesor</th>
                                    <th style="width:15%;">Accion</th>
                                    <th style="width:5%;">StdCT</th>
                                    <th style="width:5%;">Tipo</th>
                                    <th style="width:5%;">NCuota</th>
                                    <th style="width:5%;">Venc</th>
                                    <th style="width:5%;">Cuota</th>
                                    <th style="width:5%;">Abono</th>
                                    <th style="width:5%;">Mora</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- BEGIN primary modal -->
<div class="modal fade" id="PagO" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adjuntar Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm my-2" id="recibosss">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <label class="form-check">
                                    <input type="radio" class="form-check-input" id="pys" onclick="Pay('payu')">
                                    <span class="form-check-label">
                                        <img src="/img/logos/payu4.png" width="40" height="40" class="mr-1" alt="A">payu
                                        la
                                        mejor forma de hacer
                                        pagos</span>
                                </label>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="2">
                                <label class="form-check">
                                    <input type="radio" class="form-check-input" id="rcb" onclick="Pay('recbo')">
                                    <span class="form-check-label">
                                        <img src="/img/logos/recibo.jpg" width="40" height="40"
                                            class="rounded-circle mr-1" alt="A">Ingresa aqui tus recibos
                                        de pago</span>
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <form enctype="multipart/form-data" id="recbo" action="/links/recibo" method="POST">
                        <input type="hidden" id="Total2" name="total">
                        <input type="hidden" id="factrs" name="factrs">
                        <input type="hidden" id="idC" name="id">
                        <input type="hidden" id="concpto" name="concpto">
                        <input type="hidden" id="lt" name="lt">
                        <input type="hidden" class="bonus" name="bono">
                        <input type="hidden" class="bonu" name="pin">
                        <input id="ahora" type="hidden" name="ahora">
                        <input type="hidden" class="TotalBono" name="bonomonto">
                        <tbody>
                            <tr>
                                <th>
                                    <label class="custom-control custom-radio">
                                        <input name="formap" type="radio" class="custom-control-input forma"
                                            value="CTA-CTE-50900011438" required>
                                        <span class="custom-control-label badge badge-primary">
                                            CTA CTE 50900011438</span>
                                    </label>
                                </th>
                                <td>
                                    <label class="custom-control custom-radio">
                                        <input name="formap" type="radio" class="custom-control-input forma"
                                            value="CHEQUE" required>
                                        <span class="custom-control-label badge badge-primary">
                                            CHEQUE</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label class="custom-control custom-radio">
                                        <input name="formap" type="radio" class="custom-control-input forma"
                                            value="EFECTIVO" required>
                                        <span class="custom-control-label badge badge-primary">
                                            EFECTIVO</span>
                                    </label>
                                </th>
                                <td>
                                    <label class="custom-control custom-radio">
                                        <input name="formap" type="radio" class="custom-control-input forma"
                                            value="OTRO" required>
                                        <span class="custom-control-label badge badge-primary">
                                            OTRO</span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <i class="feather-md" data-feather="file-plus"></i>
                                    <input class="form-control-no-border edi" type="file" name="image"
                                        data-toggle="tooltip" data-placement="top" data-container="body"
                                        title="Selecciones las imagenes de recibos" autocomplete="off"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="file2"
                                        multiple style="width: 50%;" onchange="preview(this);" required>
                                    <span class="montorecibos badge badge-dark"></span>
                                    <input type="hidden" name="montorcb" id="montorecibos">
                                    <input type="hidden" name="recibos" id="nrbc">
                                </th>
                            </tr>
                            <tr id="trarchivos">
                                <th colspan="2" class="image-wrap" id="recibos1" width="100%" height="200"></th>
                            </tr>
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>