<main class="content">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <form id="crearcliente">
                            <div class="row" id="cliente1">
                                <div class="col-12 col-lg-12">
                                    <div class="d-inline-block float-right">
                                        <a class="r atras"><i class="feather-lg" data-feather="x-circle"></i></a>
                                    </div>
                                    <hr style="width: 90%;" />
                                </div>
                                <input type="hidden" class="ya" value="" name="ahora">
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="user"></i>
                                                    Nombre
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi text-uppercase nombres u"
                                                        type="text" placeholder="Nombre completo" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="nombres" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="credit-card"></i>
                                                    Documento
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi documento u" type="text"
                                                        placeholder="Documento de identidad" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="documento" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map-pin"></i>
                                                    Expedida
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi lugarexpedicion u"
                                                        type="text" name="lugarexpedicion"
                                                        placeholder="Lugar de expedición del documento"
                                                        autocomplete="off" style="padding: 1px; width: 100%;" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="calendar"></i> F.
                                                    Expedición
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi fechas espedida u"
                                                        type="text" placeholder="Fecha de expedición" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="fechaexpedicion"
                                                        required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="calendar"></i> F.
                                                    Nacimiento
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi fechas nacido u"
                                                        type="text" placeholder="Fecha de nacimiento" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="fechanacimiento"
                                                        required>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="heart"></i>
                                                    Estado Civil
                                                </th>
                                                <td>
                                                    <select class="form-control-no-border edi estadocivil u"
                                                        name="estadocivil" style="padding: 1px; width: 100%;" required>
                                                        <option value="">Situación sentimental?</option>
                                                        <option value="Casado(a)">Casado(a)</option>
                                                        <option value="Soltero(a)">Soltero(a)</option>
                                                        <option value="Viudo(a)">Viudo(a)</option>
                                                        <option value="Divorciado(a)">Divorciado(a)</option>
                                                        <option value="Union libre">Union libre</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="mail"></i>
                                                    Email
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi text-lowercase email u"
                                                        type="email" placeholder="Correo electrónico" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="email" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="phone-call"></i>
                                                    Móvil
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi movil u" type="tel"
                                                        data-mask="000-000-0000" placeholder="Numero celular"
                                                        autocomplete="off" style="padding: 1px; width: 100%;"
                                                        name="cel" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Dirección
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi direccion u" type="text"
                                                        placeholder="Dirección de residencia" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="direccion" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="user-plus"></i>
                                                </th>
                                                <td>
                                                    <button class="btn btn-outline-dark btn-sm float-right mr-3"
                                                        type="submit" id="AgregarCliente"><i
                                                            class="fas fa-fw fa-user-plus"></i>
                                                        Guardar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <table id="clientes" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%;">Id</th>
                                    <th style="width:10%;">Proyecto</th>
                                    <th style="width:10%;">Mz</th>
                                    <th style="width:10%;">Lote</th>
                                    <th style="width:5%;">Estado</th>
                                    <th style="width:3%;">Cliente</th>
                                    <th style="width:15%;">Documento</th>
                                    <th style="width:15%;">Fecha</th>
                                    <th style="width:15%;">Asesor</th>
                                    <th style="width:15%;">Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>