<main class="content">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <form id="creacliente" enctype="multipart/form-data">
                            <div class="row" id="addcliente" style="display: none;">
                                <div class="col-12 col-lg-12">
                                    <div class="d-inline-block float-right">
                                        <a class="r atras"><i class="feather-lg" data-feather="x-circle"></i></a>
                                    </div>
                                    <hr style="width: 90%;" />
                                </div>
                                <input type="hidden" class="ya" value="" name="ahora">
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="user"></i>
                                                    Nombre
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi text-uppercase nombres u"
                                                        type="text" placeholder="Nombre completo" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="nombres" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="help-circle"></i>
                                                    Tipo de documento
                                                </th>
                                                <td>
                                                    <select class="form-control-no-border edi tipod u" name="tipo"
                                                        style="padding: 1px; width: 100%;" required>
                                                        <option value="CC-Cédula de ciudadanía">Cédula de ciudadanía
                                                        </option>
                                                        <option value="CE-Cédula de extranjería">Cédula de extranjería
                                                        </option>
                                                        <option value="TI-Tarjeta de identidad">Tarjeta de identidad
                                                        </option>
                                                        <option value="RC-Registro civil">Registro civil</option>
                                                        <option value="PA-Pasaporte">Pasaporte</option>
                                                        <option value="PEP-Permiso especial de permanencia">Permiso
                                                            especial de
                                                            permanencia</option>
                                                        <option value="Nit">Nit</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="credit-card"></i>
                                                    Documento
                                                </th>
                                                <td>
                                                    <!--<input class="form-control-no-border edi documento u" type="text"
                                                        placeholder="Documento de identidad" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="documento" required>-->
                                                    <input class="form-control-no-border edi documento u" type="text"
                                                        placeholder="Documento de identidad" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="documento"
                                                        data-mask="000.000.000.000.000" data-mask-reverse="true"
                                                        data-mask-selectonfocus="true" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map-pin"></i>
                                                    Expedida
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi lugarexpedicion u"
                                                        type="text" name="lugarexpedicion"
                                                        placeholder="Lugar de expedición del documento"
                                                        autocomplete="off" style="padding: 1px; width: 100%;" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="calendar"></i> F.
                                                    Expedición
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi fechas espedida u"
                                                        type="text" placeholder="Fecha de expedición" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="fechaexpedicion"
                                                        required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="calendar"></i> F.
                                                    Nacimiento
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi fechas nacido u"
                                                        type="text" placeholder="Fecha de nacimiento" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="fechanacimiento"
                                                        required>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="heart"></i>
                                                    Estado Civil
                                                </th>
                                                <td>
                                                    <select class="form-control-no-border edi estadocivil u"
                                                        name="estadocivil" style="padding: 1px; width: 100%;" required>
                                                        <option value="">Situación sentimental?</option>
                                                        <option value="Casado(a)">Casado(a)</option>
                                                        <option value="Soltero(a)">Soltero(a)</option>
                                                        <option value="Viudo(a)">Viudo(a)</option>
                                                        <option value="Divorciado(a)">Divorciado(a)</option>
                                                        <option value="Union libre">Union libre</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="mail"></i>
                                                    Email
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi text-lowercase email u"
                                                        type="email" placeholder="Correo electrónico" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="email" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="globe"></i>
                                                    Pais
                                                </th>
                                                <td>
                                                    <input type="hidden" id="pa" value="">
                                                    <select class="form-control-no-border" id="pais"
                                                        style="background-color:#FFFFCC; padding: 1px; width: 100%;">
                                                        <optgroup label="A">
                                                            <option value='1907'>Alaska</option>
                                                            <option value='355'>Albania</option>
                                                            <option value='49'>Alemania</option>
                                                            <option value='376'>Andorra</option>
                                                            <option value='244'>Angola</option>
                                                            <option value='966'>Arabia Saudí</option>
                                                            <option value='213'>Argelia</option>
                                                            <option value='54'>Argentina</option>
                                                            <option value='374'>Armenia</option>
                                                            <option value='61'>Australia</option>
                                                            <option value='43'>Austria</option>
                                                        </optgroup>
                                                        <optgroup label="B">
                                                            <option value='973'>Bahreim</option>
                                                            <option value='880'>Bangladesh</option>
                                                            <option value='32'>Bélgica</option>
                                                            <option value='591'>Bolivia</option>
                                                            <option value='387'>Bosnia</option>
                                                            <option value='55'>Brasil</option>
                                                            <option value='359'>Bulgaria</option>
                                                        </optgroup>
                                                        <optgroup label="C">
                                                            <option value='238'>Cabo Verde</option>
                                                            <option value='855'>Camboya</option>
                                                            <option value='237'>Camerún</option>
                                                            <option value='1'>Canadá</option>
                                                            <option value='236'>Centroafricana, Rep.
                                                            </option>
                                                            <option value='420'>Checa, Rep.</option>
                                                            <option value='56'>Chile</option>
                                                            <option value='86'>China</option>
                                                            <option value='357'>Chipre</option>
                                                            <option value='57' selected>Colombia</option>
                                                            <option value='242'>Congo, Rep. del</option>
                                                            <option value='243'>Congo, Rep. Democ.</option>
                                                            <option value='850'>Corea, Rep. Democ.</option>
                                                            <option value='82'>Corea, Rep.</option>
                                                            <option value='225'>Costa de Marfil</option>
                                                            <option value='506'>Costa Rica</option>
                                                            <option value='385'>Croacia</option>
                                                            <option value='53'>Cuba</option>
                                                        </optgroup>
                                                        <optgroup label="D">
                                                            <option value='45'>Dinamarca</option>
                                                            <option value='1809'>Dominicana, Rep.</option>
                                                        </optgroup>
                                                        <optgroup label="E">
                                                            <option value='593'>Ecuador</option>
                                                            <option value='20'>Egipto</option>
                                                            <option value='503'>El Salvador</option>
                                                            <option value='971'>Emiratos Árabes Unidos
                                                            </option>
                                                            <option value='421'>Eslovaca, Rep.</option>
                                                            <option value='386'>Eslovenia</option>
                                                            <option value='34'>España</option>
                                                            <option value='1'>Estados Unidos</option>
                                                            <option value='372'>Estonia</option>
                                                            <option value='251'>Etiopía</option>
                                                        </optgroup>
                                                        <optgroup label="F">
                                                            <option value='63'>Filipinas</option>
                                                            <option value='358'>Finlandia</option>
                                                            <option value='33'>Francia</option>
                                                        </optgroup>
                                                        <optgroup label="G">
                                                            <option value='9567'>Gibraltar</option>
                                                            <option value='30'>Grecia</option>
                                                            <option value='299'>Groenlandia</option>
                                                            <option value='502'>Guatemala</option>
                                                            <option value='240'>Guinea Ecuatorial</option>
                                                        </optgroup>
                                                        <optgroup label="H">
                                                            <option value='509'>Haití</option>
                                                            <option value='1808'>Hawai</option>
                                                            <option value='504'>Honduras</option>
                                                            <option value='852'>Hong Kong</option>
                                                            <option value='36'>Hungría</option>
                                                        </optgroup>
                                                        <optgroup label="I">
                                                            <option value='91'>India</option>
                                                            <option value='62'>Indonesia</option>
                                                            <option value='98'>Irán</option>
                                                            <option value='964'>Irak</option>
                                                            <option value='353'>Irlanda</option>
                                                            <option value='354'>Islandia</option>
                                                            <option value='972'>Israel</option>
                                                            <option value='39'>Italia</option>
                                                        </optgroup>
                                                        <optgroup label="J">
                                                            <option value='1876'>Jamaica</option>
                                                            <option value='81'>Japón</option>
                                                            <option value='962'>Jordania</option>
                                                        </optgroup>
                                                        <optgroup label="K">
                                                            <option value='254'>Kenia</option>
                                                            <option value='965'>Kuwait</option>
                                                        </optgroup>
                                                        <optgroup label="L">
                                                            <option value='856'>Laos</option>
                                                            <option value='371'>Letonia</option>
                                                            <option value='961'>Líbano</option>
                                                            <option value='231'>Liberia</option>
                                                            <option value='218'>Libia</option>
                                                            <option value='41'>Liechtenstein</option>
                                                            <option value='370'>Lituania</option>
                                                            <option value='352'>Luxemburgo</option>
                                                        </optgroup>
                                                        <optgroup label="M">
                                                            <option value='261'>Madagascar</option>
                                                            <option value='60'>Malasia</option>
                                                            <option value='356'>Malta</option>
                                                            <option value='212'>Marruecos</option>
                                                            <option value='596'>Martinica</option>
                                                            <option value='222'>Mauritania</option>
                                                            <option value='52'>México</option>
                                                            <option value='373'>Moldavia</option>
                                                            <option value='377'>Mónaco</option>
                                                            <option value='976'>Mongolia</option>
                                                            <option value='258'>Mozambique</option>
                                                        </optgroup>
                                                        <optgroup label="N">
                                                            <option value='264'>Namibia</option>
                                                            <option value='977'>Nepal</option>
                                                            <option value='505'>Nicaragua</option>
                                                            <option value='234'>Nigeria</option>
                                                            <option value='47'>Noruega</option>
                                                            <option value='64'>Nueva Zelanda</option>
                                                        </optgroup>
                                                        <optgroup label="P">
                                                            <option value='31'>Países Bajos</option>
                                                            <option value='92'>Pakistán</option>
                                                            <option value='507'>Panamá</option>
                                                            <option value='595'>Paraguay</option>
                                                            <option value='51'>Perú</option>
                                                            <option value='48'>Polonia</option>
                                                            <option value='351'>Portugal</option>
                                                            <option value='1787'>Puerto Rico</option>
                                                        </optgroup>
                                                        <optgroup label="Q">
                                                            <option value='974'>Qatar</option>
                                                        </optgroup>
                                                        <optgroup label="R">
                                                            <option value='44'>Reino Unido</option>
                                                            <option value='40'>Rumania</option>
                                                            <option value='7'>Rusia</option>
                                                        </optgroup>
                                                        <optgroup label="S">
                                                            <option value='378'>San Marino</option>
                                                            <option value='221'>Senegal</option>
                                                            <option value='65'>Singapur</option>
                                                            <option value='963'>Siria</option>
                                                            <option value='252'>Somalia</option>
                                                            <option value='94'>Sri-Lanka</option>
                                                            <option value='27'>Sudáfrica</option>
                                                            <option value='249'>Sudán</option>
                                                            <option value='46'>Suecia</option>
                                                            <option value='41'>Suiza</option>
                                                        </optgroup>
                                                        <optgroup label="T">
                                                            <option value='66'>Tailandia</option>
                                                            <option value='886'>Taiwan</option>
                                                            <option value='255'>Tanzania</option>
                                                            <option value='216'>Túnez</option>
                                                            <option value='90'>Turquía</option>
                                                        </optgroup>
                                                        <optgroup label="U">
                                                            <option value='380'>Ucrania</option>
                                                            <option value='256'>Uganda</option>
                                                            <option value='598'>Uruguay</option>
                                                        </optgroup>
                                                        <optgroup label="V">
                                                            <option value='39'>Vaticano</option>
                                                            <option value='58'>Venezuela</option>
                                                            <option value='84'>Vietnam</option>
                                                        </optgroup>
                                                        <optgroup label="Y">
                                                            <option value='967'>Yemen</option>
                                                            <option value='381'>Yugoslavia</option>
                                                        </optgroup>
                                                        <optgroup label="Z">
                                                            <option value='260'>Zambia</option>
                                                            <option value='263'>Zimbawe</option>
                                                        </optgroup>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="phone-call"></i>
                                                    Móvil
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi movil u text-center"
                                                        type="text" placeholder="Numero celular"
                                                        style="padding: 1px; width: 100%;" autocomplete="off"
                                                        name="movil" id="movil" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Dirección
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi direccion u" type="text"
                                                        placeholder="Dirección de residencia" autocomplete="off"
                                                        style="padding: 1px; width: 100%;" name="direccion" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="credit-card"></i>
                                                    Enviar ambas caras del documento
                                                </th>
                                                <td>
                                                    <input class="form-control-no-border edi float-right" type="file"
                                                        name="image" id="file" multiple style="width: 50%;" required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="user-plus"></i>
                                                </th>
                                                <td>
                                                    <button class="btn btn-outline-dark btn-sm float-right mr-3 guard"
                                                        type="submit"><i class="fas fa-fw fa-user-plus"></i>
                                                        Guardar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <table id="clientes" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Documento</th>
                                    <th>Fecha nc</th>
                                    <th>Lugar exp</th>
                                    <th>Fecha exp</th>
                                    <th>Estado cvl</th>
                                    <th>Movil</th>
                                    <th>Email</th>
                                    <th>Dirección</th>
                                    <th>Adjunto</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- BEGIN primary modal -->
<div class="modal fade" id="AdjutarDoc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adjuntar Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" id="enviarDoc" method="post">
                <div class="modal-body m-3">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-2">
                            <i class="feather-lg text-danger" data-feather="credit-card"></i>
                        </div>
                        <div class="col-sm-12 text-center">
                            <input class="form-control-no-border edi" type="file" name="image" id="files" multiple
                                style="width: 50%;" required>
                        </div>
                        <div class="col-sm-12 text-center">
                            <p>Debes anexar el documento de ambas caras, no seran validas las imagenes borrosas</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN primary modal -->
<div class="modal fade" id="ModalClints" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
                <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                    <a class="reditar" data-dismiss="modal" aria-label="Close">
                        <i class="feather mr-0" data-feather="x"></i></a>
                </div>
            </div>
            <div class="modal-body m-1">
                <div class="row">
                    <div class="col-12">
                        <form id="datclient">
                            <table class="table table-sm my-2">
                                <tbody>
                                    <input type="hidden" id="idcc" name="idc">
                                    <tr>
                                        <th><i class="feather-md" data-feather="user"></i>Nombre</th>
                                        <td><input
                                                class="text-center text-uppercase name form-control-no-border edi form-control-sm rounded-pill"
                                                type="text" name="name" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><i class="feather-md" data-feather="help-circle"></i>Tipo Doc.</th>
                                        <td>
                                            <select
                                                class="form-control-no-border edi tipod form-control-sm rounded-pill"
                                                name="tipod" required>
                                                <option value="CC-Cédula de ciudadanía">Cédula de ciudadanía
                                                </option>
                                                <option value="CE-Cédula de extranjería">Cédula de extranjería
                                                </option>
                                                <option value="TI-Tarjeta de identidad">Tarjeta de identidad
                                                </option>
                                                <option value="RC-Registro civil">Registro civil</option>
                                                <option value="PA-Pasaporte">Pasaporte</option>
                                                <option value="PEP-Permiso especial de permanencia">Permiso especial de
                                                    permanencia</option>
                                                <option value="Nit">Nit</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="credit-card"></i>
                                            Documento
                                        </th>
                                        <td>
                                            <input class="form-control-no-border edi docu form-control-sm rounded-pill"
                                                type="text" placeholder="Documento de identidad" autocomplete="off"
                                                name="docu" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="map-pin"></i>
                                            Expedida
                                        </th>
                                        <td>
                                            <input
                                                class="form-control-no-border edi lugarex form-control-sm rounded-pill"
                                                type="text" name="lugarex"
                                                placeholder="Lugar de expedición del documento" autocomplete="off"
                                                required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="calendar"></i> F.
                                            Expedición
                                        </th>
                                        <td>
                                            <input
                                                class="form-control-no-border edi f fehex form-control-sm rounded-pill"
                                                type="text" placeholder="Fecha de expedición" autocomplete="off"
                                                name="fehex" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="calendar"></i> F.
                                            Nacimiento
                                        </th>
                                        <td>
                                            <input
                                                class="form-control-no-border edi f fnaci form-control-sm rounded-pill"
                                                type="text" placeholder="Fecha de nacimiento" autocomplete="off"
                                                name="fnaci" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><i class="feather-md" data-feather="heart"></i> Std Civil</th>
                                        <td>
                                            <select
                                                class="form-control-no-border edi ecivil form-control-sm rounded-pill"
                                                name="ecivil" required>
                                                <option value="">Situación sentimental?</option>
                                                <option value="Casado(a)">Casado(a)</option>
                                                <option value="Soltero(a)">Soltero(a)</option>
                                                <option value="Viudo(a)">Viudo(a)</option>
                                                <option value="Divorciado(a)">Divorciado(a)</option>
                                                <option value="Union libre">Union libre</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><i class="feather-md" data-feather="mail"></i> Email</th>
                                        <td>
                                            <input
                                                class="form-control-no-border edi text-lowercase email form-control-sm rounded-pill"
                                                type="email" placeholder="Correo electrónico" autocomplete="off"
                                                name="email" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="globe"></i>
                                            Pais
                                        </th>
                                        <td>
                                            <select class="form-control-no-border pais edi form-control-sm rounded-pill"
                                                name="pais">
                                                <optgroup label="A">
                                                    <option value='1907'>Alaska</option>
                                                    <option value='355'>Albania</option>
                                                    <option value='49'>Alemania</option>
                                                    <option value='376'>Andorra</option>
                                                    <option value='244'>Angola</option>
                                                    <option value='966'>Arabia Saudí</option>
                                                    <option value='213'>Argelia</option>
                                                    <option value='54'>Argentina</option>
                                                    <option value='374'>Armenia</option>
                                                    <option value='61'>Australia</option>
                                                    <option value='43'>Austria</option>
                                                </optgroup>
                                                <optgroup label="B">
                                                    <option value='973'>Bahreim</option>
                                                    <option value='880'>Bangladesh</option>
                                                    <option value='32'>Bélgica</option>
                                                    <option value='591'>Bolivia</option>
                                                    <option value='387'>Bosnia</option>
                                                    <option value='55'>Brasil</option>
                                                    <option value='359'>Bulgaria</option>
                                                </optgroup>
                                                <optgroup label="C">
                                                    <option value='238'>Cabo Verde</option>
                                                    <option value='855'>Camboya</option>
                                                    <option value='237'>Camerún</option>
                                                    <option value='1'>Canadá</option>
                                                    <option value='236'>Centroafricana, Rep.
                                                    </option>
                                                    <option value='420'>Checa, Rep.</option>
                                                    <option value='56'>Chile</option>
                                                    <option value='86'>China</option>
                                                    <option value='357'>Chipre</option>
                                                    <option value='57' selected>Colombia</option>
                                                    <option value='242'>Congo, Rep. del</option>
                                                    <option value='243'>Congo, Rep. Democ.</option>
                                                    <option value='850'>Corea, Rep. Democ.</option>
                                                    <option value='82'>Corea, Rep.</option>
                                                    <option value='225'>Costa de Marfil</option>
                                                    <option value='506'>Costa Rica</option>
                                                    <option value='385'>Croacia</option>
                                                    <option value='53'>Cuba</option>
                                                </optgroup>
                                                <optgroup label="D">
                                                    <option value='45'>Dinamarca</option>
                                                    <option value='1809'>Dominicana, Rep.</option>
                                                </optgroup>
                                                <optgroup label="E">
                                                    <option value='593'>Ecuador</option>
                                                    <option value='20'>Egipto</option>
                                                    <option value='503'>El Salvador</option>
                                                    <option value='971'>Emiratos Árabes Unidos
                                                    </option>
                                                    <option value='421'>Eslovaca, Rep.</option>
                                                    <option value='386'>Eslovenia</option>
                                                    <option value='34'>España</option>
                                                    <option value='1'>Estados Unidos</option>
                                                    <option value='372'>Estonia</option>
                                                    <option value='251'>Etiopía</option>
                                                </optgroup>
                                                <optgroup label="F">
                                                    <option value='63'>Filipinas</option>
                                                    <option value='358'>Finlandia</option>
                                                    <option value='33'>Francia</option>
                                                </optgroup>
                                                <optgroup label="G">
                                                    <option value='9567'>Gibraltar</option>
                                                    <option value='30'>Grecia</option>
                                                    <option value='299'>Groenlandia</option>
                                                    <option value='502'>Guatemala</option>
                                                    <option value='240'>Guinea Ecuatorial</option>
                                                </optgroup>
                                                <optgroup label="H">
                                                    <option value='509'>Haití</option>
                                                    <option value='1808'>Hawai</option>
                                                    <option value='504'>Honduras</option>
                                                    <option value='852'>Hong Kong</option>
                                                    <option value='36'>Hungría</option>
                                                </optgroup>
                                                <optgroup label="I">
                                                    <option value='91'>India</option>
                                                    <option value='62'>Indonesia</option>
                                                    <option value='98'>Irán</option>
                                                    <option value='964'>Irak</option>
                                                    <option value='353'>Irlanda</option>
                                                    <option value='354'>Islandia</option>
                                                    <option value='972'>Israel</option>
                                                    <option value='39'>Italia</option>
                                                </optgroup>
                                                <optgroup label="J">
                                                    <option value='1876'>Jamaica</option>
                                                    <option value='81'>Japón</option>
                                                    <option value='962'>Jordania</option>
                                                </optgroup>
                                                <optgroup label="K">
                                                    <option value='254'>Kenia</option>
                                                    <option value='965'>Kuwait</option>
                                                </optgroup>
                                                <optgroup label="L">
                                                    <option value='856'>Laos</option>
                                                    <option value='371'>Letonia</option>
                                                    <option value='961'>Líbano</option>
                                                    <option value='231'>Liberia</option>
                                                    <option value='218'>Libia</option>
                                                    <option value='41'>Liechtenstein</option>
                                                    <option value='370'>Lituania</option>
                                                    <option value='352'>Luxemburgo</option>
                                                </optgroup>
                                                <optgroup label="M">
                                                    <option value='261'>Madagascar</option>
                                                    <option value='60'>Malasia</option>
                                                    <option value='356'>Malta</option>
                                                    <option value='212'>Marruecos</option>
                                                    <option value='596'>Martinica</option>
                                                    <option value='222'>Mauritania</option>
                                                    <option value='52'>México</option>
                                                    <option value='373'>Moldavia</option>
                                                    <option value='377'>Mónaco</option>
                                                    <option value='976'>Mongolia</option>
                                                    <option value='258'>Mozambique</option>
                                                </optgroup>
                                                <optgroup label="N">
                                                    <option value='264'>Namibia</option>
                                                    <option value='977'>Nepal</option>
                                                    <option value='505'>Nicaragua</option>
                                                    <option value='234'>Nigeria</option>
                                                    <option value='47'>Noruega</option>
                                                    <option value='64'>Nueva Zelanda</option>
                                                </optgroup>
                                                <optgroup label="P">
                                                    <option value='31'>Países Bajos</option>
                                                    <option value='92'>Pakistán</option>
                                                    <option value='507'>Panamá</option>
                                                    <option value='595'>Paraguay</option>
                                                    <option value='51'>Perú</option>
                                                    <option value='48'>Polonia</option>
                                                    <option value='351'>Portugal</option>
                                                    <option value='1787'>Puerto Rico</option>
                                                </optgroup>
                                                <optgroup label="Q">
                                                    <option value='974'>Qatar</option>
                                                </optgroup>
                                                <optgroup label="R">
                                                    <option value='44'>Reino Unido</option>
                                                    <option value='40'>Rumania</option>
                                                    <option value='7'>Rusia</option>
                                                </optgroup>
                                                <optgroup label="S">
                                                    <option value='378'>San Marino</option>
                                                    <option value='221'>Senegal</option>
                                                    <option value='65'>Singapur</option>
                                                    <option value='963'>Siria</option>
                                                    <option value='252'>Somalia</option>
                                                    <option value='94'>Sri-Lanka</option>
                                                    <option value='27'>Sudáfrica</option>
                                                    <option value='249'>Sudán</option>
                                                    <option value='46'>Suecia</option>
                                                    <option value='41'>Suiza</option>
                                                </optgroup>
                                                <optgroup label="T">
                                                    <option value='66'>Tailandia</option>
                                                    <option value='886'>Taiwan</option>
                                                    <option value='255'>Tanzania</option>
                                                    <option value='216'>Túnez</option>
                                                    <option value='90'>Turquía</option>
                                                </optgroup>
                                                <optgroup label="U">
                                                    <option value='380'>Ucrania</option>
                                                    <option value='256'>Uganda</option>
                                                    <option value='598'>Uruguay</option>
                                                </optgroup>
                                                <optgroup label="V">
                                                    <option value='39'>Vaticano</option>
                                                    <option value='58'>Venezuela</option>
                                                    <option value='84'>Vietnam</option>
                                                </optgroup>
                                                <optgroup label="Y">
                                                    <option value='967'>Yemen</option>
                                                    <option value='381'>Yugoslavia</option>
                                                </optgroup>
                                                <optgroup label="Z">
                                                    <option value='260'>Zambia</option>
                                                    <option value='263'>Zimbawe</option>
                                                </optgroup>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><i class="feather-md" data-feather="phone-call"></i> Móvil</th>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="Movl">+57</span>
                                                </div>
                                                <input type="text"
                                                    class="form-control form-control-no-border edi Movil form-control-sm"
                                                    placeholder="Numero celular" autocomplete="off" name="Movil"
                                                    data-mask="000-000-0000" required>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><i class="feather-md" data-feather="map"></i> Dirección</th>
                                        <td>
                                            <input class="form-control-no-border edi adres form-control-sm rounded-pill"
                                                type="text" placeholder="Dirección de residencia" autocomplete="off"
                                                name="adres" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <button class="btn btn-outline-danger btn-sm float-left mt-4 ml-3"
                                                type="button" data-dismiss="modal" aria-label="Close"><i
                                                    class="fas fa-fw fa-reply"></i>
                                                Cancelar</button>
                                        </th>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm float-right mr-3 mt-4 edit"
                                                type="submit"><i class="fas fa-fw fa-edit"></i>
                                                Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>