<div class="card">
    <div class="card-header">
        <form id="generarBonos">
            <div class="row" id="addBonos" style="display: none;">
                <div class="col-12 col-lg-12 mb-2">
                    <div class="d-inline-block float-right">
                        <a class="r atras"><i class="feather-lg" data-feather="x-circle"></i></a>
                    </div>
                    <hr style="width: 90%;" />
                </div>
                <div class="col-12 mb-2">
                    <input class="ahora" type="hidden" name="ahora">
                    <input class="pinBono" type="hidden" name="pin">
                    <input class="text-center float-left" type="text" autocomplete="off" name="monto" id="bonoMonto"
                        placeholder="MONTO" style="padding: 1px; width: 125px; background-color: #FFFFCC;"
                        data-mask="000.000.000" data-mask-reverse="true" data-mask-selectonfocus="true" required>
                    <input class="text-center float-right pinBono" type="text" autocomplete="off" name="pin2" disabled
                        placeholder="BONO" style="padding: 1px; width: 125px; background-color: #FFFFCC;" required>
                </div>
                <div class="col-12 mb-2">
                    <select id="client" class="form-control-no-border select2" name="client" required>
                    </select>
                </div>
                <div class="col-12 mb-2">
                    <textarea id="motivo" name="motivo"
                        placeholder="DEJA EN CLARO EL MOTIVO DE POR QUE CREAS ESTE BONO O CUPON"
                        style="width: 100%;" required></textarea>
                </div>
                <div class="col-12">
                    <input class="edi float-left" type="file" name="image" id="file" style="width: 50%;" required>
                    <button class="btn-outline-primary float-right btn-sm" type="submit" id="gb">Generar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table id="tablacupones" class="table table-sm table-striped table-hover display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Cupon</th>
                    <th>Dto</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Ahorro</th>
                    <th>Proyecto</th>
                    <th>Mz</th>
                    <th>Lt</th>
                    <th>Solicitante</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>