<main class="content">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <div class="card-body">
                        <table id="tablacupones" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Cupon</th>
                                    <th>Dto</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Ahorro</th>
                                    <th>Proyecto</th>
                                    <th>Mz</th>
                                    <th>Lt</th>
                                    <th>Solicitante</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>