<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">ORDEN DE SEPARACIÓN LOTE EN EL PROYECTO</h1>

        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Proyecto & Cliente</h5>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-sm-3 col-xl-12 col-xxl-3 text-center mb-1">
                                <img src="/img/avatars/avatar.svg" width="64" height="64" class="rounded-circle mt-2">
                            </div>
                            <div class="col-sm-9 col-xl-12 col-xxl-9 mt-2">
                                <strong>Altos de Cañaveral</strong>
                                <span class="float-right text-muted text-sm">26-04-2020</span><br>
                                <strong>Lote: </strong><span class=""> 30</span><br>
                                <strong>Asesor: </strong><span class=""> Ana Milena</span>
                            </div>
                        </div>

                        <table class="table table-sm my-2">
                            <tbody>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="user"></i> Nombre
                                    </th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Nombre completo" id="ui" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="credit-card"></i>
                                        Documento</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Documento de identidad" id="uo" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="map-pin"></i>
                                        Expedida</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Lugar de expedición del documento" id="df" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="calendar"></i> F.
                                        Expedición</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Fecha de nacimiento" id="et" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="calendar"></i> F.
                                        Nacimiento</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Fecha de nacimiento" id="er" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="heart"></i> Estado
                                        Civil</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Situación sentimental" id="" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="mail"></i> Email</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Correo electrónico" id="we" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="phone-call"></i>
                                        Móvil</th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Numero celular" id="eg" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <th><i class="feather-md text-primary mr-0 mb-2" data-feather="map"></i> Dirección
                                    </th>
                                    <td>
                                        <input class="form-control-no-border edi" type="text"
                                            placeholder="Dirección de residencia" id="fd" autocomplete="off"
                                            style="padding: 1px; width: 100%;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />

                        <strong>Descripción</strong>

                        <ul class="timeline mt-2 mb-0">
                            <li class="timeline-item">
                                <strong>Mtrs²</strong>
                                <span class="float-right text-muted text-sm">10 * 20 mts</span>
                                <p>582.91 MT²</p>
                            </li>
                            <li class="timeline-item">
                                <strong>Vr Mt²</strong>
                                <span class="float-right text-muted text-sm">$ 100.000.00</span>
                                <p>Cien mil pesos</p>
                            </li>
                            <li class="timeline-item">
                                <strong>Vr Lote</strong>
                                <span class="float-right text-muted text-sm">100%</span>
                                <p id="ñóp">55.376.450</p>
                            </li>
                            <li class="timeline-item">
                                <strong>Cuota Inicial</strong>
                                <span class="float-right text-muted text-sm">30%</span>
                                <p id="yu">16.612.935</p>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <div class="dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <i class="align-middle" data-feather="more-horizontal"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Forma de pago</h5>
                    </div>
                    <div class="card-body">
                        {{#each proyecto}}
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2"
                                                    data-feather="maximize"></i>
                                                MTr²
                                            </th>
                                            <td>
                                                <input class="form-control-no-border edi" type="text" id="mtr"
                                                    value="{{mtr2}}" style="padding: 1px; width: 100%; text-align:center" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2"
                                                    data-feather="trending-up"></i>
                                                Vr MTr²</th>
                                            <td>
                                                <input class="form-control-no-border val" type="text" id="vrmtr"
                                                    value="{{valmtr2}}" style="padding: 1px; width: 100%; text-align:center"
                                                    disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="map-pin"></i>
                                                Lote</th>
                                            <td>
                                                <input class="form-control-no-border val" type="text" id="vrlote"
                                                    value="{{valor}}"
                                                    style="padding: 1px; width: 100%; text-align:center" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="droplet"></i>
                                                N° Cuotas</th>
                                            <td>
                                                <select name="e" id="ncuotas"
                                                    class="form-control-no-border edi float-right"
                                                    style="padding: 1px; width: 100%; text-align-last:center">
                                                    <option value="12">12 Cuotas</option>
                                                    <option value="24">24 Cuotas</option>
                                                    <option value="36">36 Cuotas</option>
                                                    <option value="48">42 Cuotas</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2"
                                                    data-feather="calendar"></i>
                                                Extraor</th>
                                            <td>
                                                <select name="e" id="Emeses"
                                                    class="form-control-no-border edi float-right"
                                                    style="padding: 1px; width: 100%; text-align-last:center">
                                                    <option value="">Niguna</option>
                                                    <option value="1">Junio</option>
                                                    <option value="2">Diciembre</option>
                                                    <option value="3">Jun & Dic</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2"
                                                    data-feather="dollar-sign"></i>
                                                Extraor vr</th>
                                            <td>
                                                <input class="form-control-no-border edi val" id="cuotaestrao"
                                                    type="text" placeholder="Ingrese cuota extra" autocomplete="off"
                                                    data-mask="000.000.000" data-mask-reverse="true"
                                                    data-mask-selectonfocus="true"
                                                    style="padding: 1px; width: 100%; text-align:center">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="slack"></i>
                                                Inicial
                                            </th>
                                            <td>
                                                <input class="form-control-no-border val" type="text" value="{{inicial}}"
                                                    id="cuotainicial"
                                                    style="padding: 1px; width: 100%; text-align:center" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="percent"></i>
                                                70%</th>
                                            <td>
                                                <input class="form-control-no-border" type="text" value=""
                                                    id="p70" style="padding: 1px; width: 100%; text-align:center"
                                                    disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="tag"></i>
                                                Cupon</th>
                                            <td>
                                                <input class="form-control-no-border edi" type="text"
                                                    placeholder="N° bono" id="bono"
                                                    style="padding: 1px; width: 100%; text-align:center">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="droplet"></i>
                                                Diferir</th>
                                            <td>
                                                <select name="" id="diferinicial" class="form-control-no-border edi"
                                                    style="padding: 1px; width: 100%; text-align-last:center">
                                                    <option value="1">1 Cuota</option>
                                                    <option value="2">2 Cuotas</option>
                                                    <option value="3">3 Cuotas</option>
                                                    <option value="4">4 Cuotas</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2"
                                                    data-feather="trending-down"></i>
                                                Dto</th>
                                            <td>
                                                <input class="form-control-no-border" type="text" value="0%" id="dto"
                                                    style="padding: 1px; width: 100%; text-align:center" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><i class="feather-md text-primary mr-0 mb-2" data-feather="pocket"></i>
                                                Ahorra</th>
                                            <td>
                                                <input class="form-control-no-border float-right" type="text" value="$0"
                                                    id="ahorro" style="padding: 1px; width: 100%; text-align:center"
                                                    disabled>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {{/each}}
                        <table id="datatables-clients" class="table table-sm table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>fecha</th>
                                    <th>oficial</th>
                                    <th>Cuota</th>
                                    <th>Estado</th>
                                    <th>#</th>
                                    <th>fecha</th>
                                    <th>Cuota</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody id="cuerpo"></tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="tab tab-vertical tab-primary">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#colored-vertical-icon-tab-1" data-toggle="tab"
                                        role="tab">
                                        <i class="align-middle" data-feather="home"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#colored-vertical-icon-tab-2" data-toggle="tab"
                                        role="tab">
                                        <i class="align-middle" data-feather="settings"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#colored-vertical-icon-tab-3" data-toggle="tab"
                                        role="tab">
                                        <i class="align-middle" data-feather="message-square"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="colored-vertical-icon-tab-1" role="tabpanel">
                                    <h4 class="tab-title">ACLARACIONES Y CONDICIONES DE SEPARACIÓN DE LOTES</h4>
                                    <p>
                                        * Presentar a la administración del proyecto la documentación necesaria para la
                                        firma del contrato
                                        de promesa de compraventa y cuota de separación en un plazo máximo de 8 días,
                                        pasada esta fecha, la administración
                                        del proyecto no tiene ninguna responsabilidad por la reserva del inmueble y esta
                                        queda en libertad de venderlo a otra persona.
                                    </p>
                                </div>
                                <div class="tab-pane" id="colored-vertical-icon-tab-2" role="tabpanel">
                                    <h4 class="tab-title">Another one</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget
                                        dolor tellus eget condimentum rhoncus. Aenean massa. Cum sociis natoque
                                        penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim
                                        justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                </div>
                                <div class="tab-pane" id="colored-vertical-icon-tab-3" role="tabpanel">
                                    <h4 class="tab-title">One more</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget
                                        dolor tellus eget condimentum rhoncus. Aenean massa. Cum sociis natoque
                                        penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim
                                        justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 text-center">
                        <textarea name="observación" id="observacion" cols="40" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>