<main class="main d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row h-100">
            <div class="col-sm-12 col-md-10 col-lg-8 mx-auto d-table h-100">
                <div class="text-center mt-4">
                    <h1 class="h2">Pagos</h1>
                    <p class="lead">
                        Conoce aqui el monto de tus cuotas.
                    </p>
                </div>
                <div id="smartwizard" class="wizard wizard-primary mb-1">
                    <ul>
                        <li>
                            <a class="sidebar-link" href="#arrows-primary-step-1">
                                <i class="align-middle" data-feather="credit-card"></i> <span
                                    class="align-middle">Documento</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="#arrows-primary-step-2">
                                <i class="align-middle" data-feather="droplet"></i> <span
                                    class="align-middle">Cuota</span>
                            </a>
                        </li>
                        <li>
                            <a class="sidebar-link" href="#arrows-primary-step-3">
                                <i class="align-middle" data-feather="help-circle"></i> <span
                                    class="align-middle">Metodo</span>
                            </a>
                        </li>
                    </ul>
                    <div>
                        <div id="arrows-primary-step-1" class="">
                            <div class="m-sm-4">
                                <div class="alert alert-danger alert-dismissible form-group" role="alert"
                                    style="display: none;">
                                    <div class="alert-message">s</div>
                                </div>
                                <div class="form-group">
                                    <label>Documento</label>
                                    <input class="form-control form-control-lg" id="cedula" type="text" name="pin"
                                        placeholder="Ingrese numero de documento" required autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div id="arrows-primary-step-2" class="">
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>
                                            <i class="feather-lg" data-feather="user"></i>
                                        </th>
                                        <td>
                                            <span class="Cliente"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-lg" data-feather="sun"></i>
                                        </th>
                                        <td>
                                            Proyecto:
                                            <select class="form-control-no-border" id="proyectos">
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="heart"></i>
                                                    Cupon
                                                </th>
                                                <td>
                                                    <span id="Cupon"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="mail"></i>
                                                    Dto
                                                </th>
                                                <td>
                                                    <span id="Dto"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="phone-call"></i>
                                                    Ahorro
                                                </th>
                                                <td>
                                                    <span id="Ahorro"></span>
                                                </td>
                                            </tr>
                                            <tr class="mb-4">
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Proyecto Dto
                                                </th>
                                                <td>
                                                    <span id="Proyecto-Dto"></span>
                                                </td>
                                            </tr>
                                            <tr class="mb-4">
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Facturas V.
                                                </th>
                                                <td>
                                                    <span id="Facturas"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Proyecto
                                                </th>
                                                <td>
                                                    <span id="Proyecto"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Concepto
                                                </th>
                                                <td>
                                                    <span id="Concepto"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    N° Cuota
                                                </th>
                                                <td>
                                                    <span id="Cuotan"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Cuota
                                                </th>
                                                <td>
                                                    <span id="Cuota"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="map"></i>
                                                    Mora
                                                </th>
                                                <td>
                                                    <span id="Mora"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="bookmark"></i>
                                            ¿ Tienes un BONO ?
                                        </th>
                                        <td>
                                            <div class="d-inline-block float-right">
                                                <input class="form-control-no-border edi d text-center text-uppercase"
                                                    id="bono" type="text" placeholder="Ingrese aqui el bono"
                                                    autocomplete="off" style="padding: 1px; width: 100%;" name="bono">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="dollar-sign"></i>
                                            Total Factura
                                        </th>
                                        <td>
                                            <div class="d-inline-block float-right">
                                                <span class="Totalf"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="dollar-sign"></i>
                                            Bono
                                        </th>
                                        <td>
                                            <div class="d-inline-block float-right">
                                                <span id="TotalBono"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="dollar-sign"></i>
                                            Total a Pagar
                                        </th>
                                        <td>
                                            <div class="d-inline-block float-right">
                                                <span class="Total"></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="dollar-sign"></i>
                                            Otro Valor
                                        </th>
                                        <td>
                                            <div class="d-inline-block float-right">
                                                <input class="form-control-no-border edi d text-right Total2"
                                                    type="text" placeholder="Ingrese aqui otro valor" autocomplete="off"
                                                    style="padding: 1px; width: 100%;" name="otrovalor"
                                                    data-mask="000.000.000" data-mask-reverse="true"
                                                    data-mask-selectonfocus="true">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>El monto a digitar en otro valor debe ser mayor
                                al total
                                a pagar. Para mas informacion comuniquese con
                                nuestro
                                servicio al cliente</p>
                        </div>
                        <div id="arrows-primary-step-3" class="">
                            <form id="payu" method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="user"></i>Nombre
                                            </th>
                                            <td>
                                                <input type="text" name="buyerFullName" class="form-control Cliente"
                                                    disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="user"></i>Movil
                                            </th>
                                            <td>
                                                <input type="text" name="telephone" class="form-control" id="Movil"
                                                    disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="user"></i>Email
                                            </th>
                                            <td>
                                                <input type="email" name="buyerEmail" class="form-control" id="Email"
                                                    disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="sun"></i>Concepto
                                            </th>
                                            <td>
                                                <input type="text" name="description" class="form-control"
                                                    id="Description" value="" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="dollar-sign"></i>
                                                transaccion
                                            </th>
                                            <td>
                                                <div class="d-inline-block float-right">
                                                    <span class="transaccion"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="dollar-sign"></i>
                                                Total
                                            </th>
                                            <td>
                                                <div class="d-inline-block float-right">
                                                    <span class="Total3"></span>
                                                    <input type="hidden" name="amount" id="Total">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<input name="merchantId" type="hidden" value="508029">
                                <input name="accountId" type="hidden" value="512321">-->
                                <input name="merchantId" type="hidden" value="845014">
                                <input name="accountId" type="hidden" value="852515">
                                <!--<input name="merchantId" type="hidden" value="825255">
                                    <input name="accountId" type="hidden" value="832520">-->
                                <input name="referenceCode" type="hidden" id="Code">
                                <input name="tax" type="hidden" value="0">
                                <input name="taxReturnBase" type="hidden" value="0">
                                <input name="currency" type="hidden" value="COP">
                                <input name="signature" type="hidden" id="signature" value="">
                                <input name="test" type="hidden" value="0">
                                <input type="hidden" name="extra2" id="extra" value="">
                                <input name="responseUrl" type="hidden" value="https://grupoelitered.com.co/planes">
                                <input name="confirmationUrl" type="hidden" value="https://grupoelitered.com.co/confir">
                                <div class="mt-auto pgpayu" style="display: none;">
                                    <input name="Submit" type="submit" class="btn btn-lg btn-outline-danger"
                                        value="Pagar">
                                </div>
                            </form>
                            <!--<div class="tab tab-vertical tab-dark">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" onclick="Pay('bancolombia')">
                                        <a class="nav-link active" href="#vertical-icon-tab-1" data-toggle="tab"
                                            role="tab" aria-controls="profile" aria-selected="true">
                                            <img src="/img/logos/ban.png" width="40" height="40" class=""
                                                alt="Ashley Briggs">
                                        </a>
                                    </li>
                                    <li class="nav-item" onclick="Pay('payu')">
                                        <a class="nav-link" href="#vertical-icon-tab-2" data-toggle="tab" role="tab"
                                            aria-controls="profile" aria-selected="false">
                                            <img src="/img/logos/payu4.png" width="40" height="40" class=""
                                                alt="Ashley Briggs">
                                        </a>
                                    </li>
                                    <li class="nav-item" onclick="Pay('paypal')">
                                        <a class="nav-link" href="#vertical-icon-tab-3" data-toggle="tab" role="tab"
                                            aria-controls="profile" aria-selected="false">
                                            <img src="/img/logos/pp.png" width="40" height="40" class="rounded-circle"
                                                alt="Ashley Briggs">
                                        </a>
                                    </li>
                                    <li class="nav-item" onclick="Pay('recbo')">
                                        <a class="nav-link" href="#vertical-icon-tab-4" data-toggle="tab" role="tab"
                                            aria-controls="profile" aria-selected="false">
                                            <img src="/img/logos/recibo.jpg" width="40" height="40"
                                                class="rounded-circle" alt="Ashley Briggs">
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="vertical-icon-tab-1" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <h4 class="tab-title">Bancolombia</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor tellus eget condimentum rhoncus. Aenean massa. Cum
                                            sociis
                                            natoque
                                            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                                            In
                                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                            Nulla
                                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                            vulputate
                                            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                            justo.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="vertical-icon-tab-2" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <h4 class="tab-title">PayU</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor tellus eget condimentum rhoncus. Aenean massa. Cum
                                            sociis
                                            natoque
                                            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                                            In
                                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                            Nulla
                                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                            vulputate
                                            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                            justo.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="vertical-icon-tab-3" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <h4 class="tab-title">Paypal</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                            ligula eget dolor tellus eget condimentum rhoncus. Aenean massa. Cum
                                            sociis
                                            natoque
                                            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.
                                            In
                                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                            Nulla
                                            consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
                                            vulputate
                                            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                                            justo.
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="vertical-icon-tab-4" role="tabpanel"
                                        aria-labelledby="profile-tab">
                                        <h4 class="tab-title">Recibos</h4>
                                        <form enctype="multipart/form-data" id="recbo" action="/links/recibo"
                                            method="POST">
                                            <div class="row no-gutters">
                                                <div class="col-md-6 text-center">
                                                    <label class="custom-control custom-radio">
                                                        <input name="formap" type="radio"
                                                            class="custom-control-input forma"
                                                            value="CTA-CTE-8509713538" required>
                                                        <span class="custom-control-label badge badge-primary">
                                                            CTA CTE 50900011438</span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input name="formap" type="radio"
                                                            class="custom-control-input forma"
                                                            value="CTA-AHO-8509713538" required>
                                                        <span class="custom-control-label badge badge-primary">
                                                            CTA AHO 8509713538</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-6 text-center mb-2">
                                                    <label class="custom-control custom-radio">
                                                        <input name="formap" type="radio"
                                                            class="custom-control-input forma" value="EFECTIVO"
                                                            required>
                                                        <span class="custom-control-label badge badge-primary">
                                                            EFECTIVO</span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input name="formap" type="radio"
                                                            class="custom-control-input forma" value="CHEQUE" required>
                                                        <span class="custom-control-label badge badge-primary">
                                                            CHEQUE</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4 mb-2">
                                                    <img src="/img/recibo.gif" class="card-img" alt="...">
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="hidden" id="Total2" name="total">
                                                    <input type="hidden" id="factrs" name="factrs">
                                                    <input type="hidden" id="idC" name="id">
                                                    <input type="hidden" id="concpto" name="concpto">
                                                    <input type="hidden" id="lt" name="lt">
                                                    <input type="hidden" class="bonus" name="bono">
                                                    <input type="hidden" class="bonu" name="pin">
                                                    <input id="ahora" type="hidden" name="ahora">
                                                    <input type="hidden" class="TotalBono" name="bonomonto">
                                                    <div class="m-sm-4">
                                                        <div class="form-group">
                                                            <input class="form-control-no-border edi" type="file"
                                                                name="image" id="file" multiple style="width: 100%;"
                                                                onchange="preview(this);" required>
                                                        </div>
                                                    </div>
                                                    <h3 class="card-title mt-2 float-right">Total $
                                                        <strong class="Total3"></strong></h3>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>-->
                            <table class="table table-sm my-2" id="recibosss">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <label class="form-check">
                                                <input type="radio" class="form-check-input" id="pys"
                                                    onclick="Pay('payu')">
                                                <span class="form-check-label">
                                                    <img src="/img/logos/payu4.png" width="40" height="40" class="mr-1"
                                                        alt="A">payu la mejor forma de hacer
                                                    pagos</span>
                                            </label>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="2">
                                            <label class="form-check">
                                                <input type="radio" class="form-check-input" id="rcb"
                                                    onclick="Pay('recbo')">
                                                <span class="form-check-label">
                                                    <img src="/img/logos/recibo.jpg" width="40" height="40"
                                                        class="rounded-circle mr-1" alt="A">Ingresa aqui tus recibos
                                                    de pago</span>
                                            </label>
                                        </th>
                                    </tr>
                                </thead>
                                <form enctype="multipart/form-data" id="recbo" action="/links/recibo" method="POST">
                                    <input type="hidden" id="Total2" name="total">
                                    <input type="hidden" id="factrs" name="factrs">
                                    <input type="hidden" id="idC" name="id">
                                    <input type="hidden" id="concpto" name="concpto">
                                    <input type="hidden" id="lt" name="lt">
                                    <input type="hidden" class="bonus" name="bono">
                                    <input type="hidden" class="bonu" name="pin">
                                    <input id="ahora" type="hidden" name="ahora">
                                    <input type="hidden" class="TotalBono" name="bonomonto">
                                    <tbody>
                                        <tr style="display: none;" id="trecibo">
                                            <th>
                                                <label class="custom-control custom-radio">
                                                    <input name="formap" type="radio" class="custom-control-input forma"
                                                        value="CTA-CTE-8509713538" required>
                                                    <span class="custom-control-label badge badge-primary">
                                                        CTA CTE 50900011438</span>
                                                </label>
                                            </th>
                                            <td>
                                                <label class="custom-control custom-radio">
                                                    <input name="formap" type="radio" class="custom-control-input forma"
                                                        value="CTA-AHO-8509713538" required>
                                                    <span class="custom-control-label badge badge-primary">
                                                        CTA AHO 8509713538</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr style="display: none;" id="trecib">
                                            <th>
                                                <label class="custom-control custom-radio">
                                                    <input name="formap" type="radio" class="custom-control-input forma"
                                                        value="EFECTIVO" required>
                                                    <span class="custom-control-label badge badge-primary">
                                                        EFECTIVO</span>
                                                </label>
                                            </th>
                                            <td>
                                                <label class="custom-control custom-radio">
                                                    <input name="formap" type="radio" class="custom-control-input forma"
                                                        value="CHEQUE" required>
                                                    <span class="custom-control-label badge badge-primary">
                                                        CHEQUE</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr style="display: none;" id="trsubida">
                                            <th colspan="2">
                                                <i class="feather-md" data-feather="file-plus"></i>
                                                <input class="form-control-no-border edi" type="file" name="image"
                                                    data-toggle="tooltip" data-placement="top" data-container="body"
                                                    title="Selecciones las imagenes de recibos" autocomplete="off"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    id="file2" multiple style="width: 50%;" onchange="preview(this);"
                                                    required>
                                                <span class="montorecibos badge badge-dark"></span>
                                                <input type="hidden" name="montorcb" id="montorecibos">
                                                <input type="hidden" name="recibos" id="nrbc">
                                            </th>
                                        </tr>
                                        <tr style="display: none;" id="trarchivos">
                                            <th colspan="2" id="recibos1" width="100%" height="200"></th>
                                        </tr>
                                    </tbody>
                                </form>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<table class="table table-sm my-2" id="tablarecibo" style="display: none;">
    <tbody>
        <tr>
            <th colspan="4">
                <i class="feather-lg" data-feather="user"></i>
                <span class="ml-2 Cliente">SAMIR SALDARRIAGA</span>
            </th>
        </tr>
        <tr>
            <th colspan="4">
                <i class="feather-lg" data-feather="sun"></i>
                <span class="ml-2 Cliente">PRADOS DE PONTEVEDRA Mz 1 Lt 5</span>
                <!--<select class="ml-2 form-control-no-border" id="proyectos">
                </select>-->
            </th>
        </tr>
        <tr>
            <th>
                <i class="feather-md" data-feather="heart"></i>
                Cupon
            </th>
            <td>
                <span id="Cupon">U5HG1</span>
            </td>
            <th>
                <i class="feather-md" data-feather="map"></i>
                Proyecto
            </th>
            <td>
                <span id="Proyecto">64.480.000</span>
            </td>
        </tr>
        <tr>
            <th>
                <i class="feather-md" data-feather="mail"></i>
                Dto
            </th>
            <td>
                <span id="Dto">5%</span>
            </td>
            <th>
                <i class="feather-md" data-feather="map"></i>
                Concepto
            </th>
            <td>
                <span id="Concepto">SEPARACION</span>
            </td>
        </tr>
        <tr>
            <th>
                <i class="feather-md" data-feather="phone-call"></i>
                Ahorro
            </th>
            <td>
                <span id="Ahorro">3.224.000</span>
            </td>
            <th>
                <i class="feather-md" data-feather="map"></i>
                N° Cuota
            </th>
            <td>
                <span id="Cuotan">1</span>
            </td>
        </tr>
        <tr class="mb-4">
            <th>
                <i class="feather-md" data-feather="map"></i>
                Proyecto Dto
            </th>
            <td>
                <span id="Proyecto-Dto">61.256.000</span>
            </td>
            <th>
                <i class="feather-md" data-feather="map"></i>
                Cuota
            </th>
            <td>
                <span id="Cuota">1.256.000</span>
            </td>
        </tr>
        <tr class="mb-4">
            <th>
                <i class="feather-md" data-feather="map"></i>
                Facturas V.
            </th>
            <td>
                <span id="Facturas">1</span>
            </td>
            <th>
                <i class="feather-md" data-feather="map"></i>
                Mora
            </th>
            <td>
                <span id="Mora">0</span>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                <i class="feather-md" data-feather="dollar-sign"></i>
                Total Factura
            </th>
            <td>
                <div class="d-inline-block float-right">
                    <span class="Totalf">1.256.000</span>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                <i class="feather-md" data-feather="dollar-sign"></i>
                Total a Pagar
            </th>
            <td>
                <div class="d-inline-block float-right">
                    <span class="Total">1.256.000</span>
                </div>
            </td>
        </tr>
        <tr>
            <th colspan="3">
                <i class="feather-md" data-feather="dollar-sign"></i>
                Otro Valor
            </th>
            <td>
                <div class="d-inline-block float-right">
                    <input class="form-control-no-border edi direccion d text-right Total2" type="text"
                        placeholder="Ingrese aqui otro valor" autocomplete="off" style="padding: 1px; width: 100%;"
                        name="direccion" data-mask="000.000.000" data-mask-reverse="true" data-mask-selectonfocus="true"
                        value="$0">
                </div>
            </td>
        </tr>
    </tbody>
</table>