<input type="hidden" id="proyecto" value="">
<input type="hidden" id="idproyecto" value="">
<div class="container-fluid p-0">
    <div class="row" id="cuadro2" style="display: none;">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                        <a class="r atras"><i class="feather-lg mr-0" data-feather="arrow-left-circle"></i></a>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-6 col-xl-6 col-xxl-6">
                            <strong>Facturacion</strong>
                            <ul class="timeline mt-2 mb-0">
                                <li class="timeline-item">
                                    <strong>Reserva a facturar</strong>
                                    <span class="float-right text-muted text-sm facturas">30m ago</span>
                                    <p id="facturas"></p>
                                </li>
                                <li class="timeline-item">
                                    <strong>Totales</strong>
                                    <span class="float-right text-muted text-sm"><span
                                            class="badge badge-success total"></span></span>
                                    <p class="clientes"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table id="datatable" class="table table-striped table-hover table-sm display nowrap"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>MZ</th>
                                <th>LT</th>
                                <th>MT2</th>
                                <th>ESTADO</th>
                                <th>VALOR</th>
                                <th>CUOTA I</th>
                                <th style="width:5%;">DSCP</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cuadro1">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200"
                                    alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <h5 class="card-title">Facturas</h5>
                    <h6 class="card-subtitle text-muted">Use contextual classes to color table rows
                        or
                        individual cells.</h6>
                </div>
                <div class="card-body">
                    <table id="datatable2" class="table table-striped table-sm table-hover responsive">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Categoria</th>
                                <th>Producto</th>
                                <th>Fecha</th>
                                <th>Porcentage</th>
                                <th>MT2S</th>
                                <th>Val MT2</th>
                                <th>Total</th>
                                <th>MZs</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cuadro3" style="display: none;">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">PRODUCTOS</h5>
                    <h6 class="card-subtitle text-muted">Productos y servicios Elite</h6>
                    <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                        <a class="r atras"><i class="feather-lg mr-0" data-feather="arrow-left-circle"></i></a>
                    </div>
                </div>
                <form action="/links/regispro" method="POST">
                    <div class="card-body">
                        <div class="row py-1">
                            <div class="col-sm-12 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="form-row categoria">

                                        <div class="form-group col-md-2">
                                            <input type="text" name="porcentage" class="form-control" value="4.75"
                                                style="text-align:center" disabled>
                                        </div>



                                        <div class="form-group col-md-2">
                                            <input type="number" name="mzs" class="form-control"
                                                style="text-align:center" placeholder="MZ'S" style="text-align:center">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="number" name="cantidad" class="form-control" id="lts"
                                                style="text-align:center" placeholder="LT'S" style="text-align:center">
                                        </div>
                                        <div class="form-group col-md-5">
                                            <select class="form-control" name="estado">
                                                <option value="1">PROCESANDO</option>
                                                <option value="7">ACTIVO</option>
                                                <option value="10">VENDIDO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row datos" id="datosproveedor" style="display: none;">
                                        <div class="form-group col-md-12">
                                            <h5>DATOS DEL PROVEEDOR</h5>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="text" name="empresa" class="form-control"
                                                placeholder="Nombre Proveedor" style="text-align:center" disabled
                                                required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" name="nit" class="form-control" placeholder="Digite Nit"
                                                style="text-align:center" disabled required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <select class="form-control" name="banco" disabled required>
                                                <option value="nada">Selecione un Banco</option>
                                                <option value="Banco Agrario de Colombia">Banco Agrario de Colombia
                                                </option>
                                                <option value="Banco AV Villas">Banco AV Villas</option>
                                                <option value="Banco Caja Social">Banco Caja Social</option>
                                                <option value="Banco de Occidente">Banco de Occidente</option>
                                                <option value="Banco Popular">Banco Popular</option>
                                                <option value="Banco Falabella">Banco Falabella</option>
                                                <option value="Banco Finandina">Banco Finandina</option>
                                                <option value="Banco Itaú Corpbanca">Banco Itaú Corpbanca</option>
                                                <option value="Banco Santander">Banco Santander</option>
                                                <option value="Banco de Occidente">Banco de Occidente</option>
                                                <option value="Bancóldex">Bancóldex</option>
                                                <option value="Bancolombia">Bancolombia</option>
                                                <option value="BBVA Colombia">BBVA Colombia</option>
                                                <option value="Banco de Bogotá">Banco de Bogotá</option>
                                                <option value="Citi Colombia">Citi Colombia</option>
                                                <option value="Citibank">Citibank</option>
                                                <option value="Colpatria">Colpatria</option>
                                                <option value="Davivienda">Davivienda</option>
                                                <option value="GNB Sudameris">GNB Sudameris</option>
                                                <option value="Multibank S.A.">Multibank S.A.</option>
                                                <option value="Mundo mujer">Mundo mujer</option>
                                                <option value="Red Multibanca Colpatria">Red Multibanca Colpatria
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <select class="form-control" name="cta" disabled required>
                                                <option value="nada">Tipo CTA.</option>
                                                <option value="CTE">CTE</option>
                                                <option value="AHO">AHO</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" name="numero" class="form-control" placeholder="# Cuenta"
                                                style="text-align:center" disabled required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="email" name="mail" class="form-control" placeholder="Email"
                                                style="text-align:center" disabled required>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input type="text" name="direccion" class="form-control"
                                                placeholder="Dirreccion" style="text-align:center" disabled required>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <input type="text" name="tel" class="form-control" placeholder="Telefono"
                                                style="text-align:center" disabled required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input type="url" name="web" class="form-control" placeholder="Sitio Web"
                                                style="text-align:center" disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <h5 id="ttl"></h5>
                                    <br>
                                    <div class="form-row datos" id="datosproducto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="cliente1">
                        <input type="hidden" class="client" value="" name="client">
                        <div class="col-12 col-lg-6">
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="user"></i>
                                            PRODUCTO
                                        </th>
                                        <td>
                                            <select class="form-control-no-border edi" name="categoria"
                                                style="padding: 1px; width: 100%;" required>
                                                <option value="PROYECTO CAMPESTRE">PROYECTO CAMPESTRE</option>
                                                <option value="CONSTUCCION">CONSTUCCIÓN</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="credit-card"></i>
                                            NOMBRE PDO
                                        </th>
                                        <td>
                                            <input class="form-control-no-border edi text-uppercase" type="text"
                                                placeholder="NOMBRE DEL PROYECTO" autocomplete="off"
                                                style="padding: 1px; width: 100%;" name="title" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <br>
                                            <div class="text-center">
                                                <h6>TOTAL MTR²</h6>
                                            </div>
                                            <div class="text-center">
                                                <input class="form-control-no-border edi text-center v" type="text"
                                                    name="totalmtr2" autocomplete="off" id="tmt2"
                                                    placeholder="Digite total de mtr²" style="padding: 1px; width: 80%;"
                                                    data-mask="000.000.000" data-mask-reverse="true"
                                                    data-mask-selectonfocus="true" required>
                                            </div>
                                        </th>
                                        <th>
                                            <br>
                                            <div class="text-center">
                                                <h6>VALOR MTR²</h6>
                                            </div>
                                            <div class="text-center">
                                                <input class="form-control-no-border edi text-center v" type="text"
                                                    name="valmtr2" id="vmt2" autocomplete="off"
                                                    placeholder="Digite el precio del mtr²"
                                                    style="padding: 1px; width: 80%;" data-mask="000.000.000"
                                                    data-mask-reverse="true" data-mask-selectonfocus="true" required>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="map-pin"></i>
                                            COSTE DEL PROYEYO
                                        </th>
                                        <td>
                                            <div class="text-center">
                                                <span
                                                    class="badge badge-dark text-center text-md-center valproyect">$0.000.000.000</span>
                                            </div>

                                            <input type="hidden" name="valproyect" id="valproyect">
                        </div>
                        </td>
                        </tr>
                        <tr>
                            <th>
                                <i class="feather-md" data-feather="calendar"></i> INICIO Y TERMINACÍON DEL
                                PROYECTO
                            </th>
                            <td>
                                <input type="hidden" name="fechanacimiento" required>
                                <div id="reportrange" class="overflow-hidden form-control" name="fechanacimiento"
                                    required>
                                    <i class="far fa-calendar"></i>&nbsp;
                                    <span></span> <i class="fas fa-caret-down"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-lg-6">
                        <table class="table table-sm my-2">
                            <tbody>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="heart"></i>
                                        CUOTA INICIAL
                                    </th>
                                    <td>
                                        <select class="form-control-no-border edi proveedor" name="proveedor"
                                            style="padding: 1px; width: 100%;text-align:center;" required>
                                            <option value="15">15%</option>
                                            <option value="20">20%</option>
                                            <option value="25">25%</option>
                                            <option value="30">30%</option>
                                            <option value="35">35%</option>
                                            <option value="40">40%</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="heart"></i>
                                        PROVEEDOR
                                    </th>
                                    <td>
                                        <select class="form-control-no-border edi proveedor" name="proveedor"
                                            style="padding: 1px; width: 100%;" required>
                                            {{#each proveedores}}
                                            <option value="{{id}}">{{empresa}}</option>
                                            {{/each}}
                                            <option value="0">OTRO</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="mail"></i>
                                        Email
                                    </th>
                                    <td>
                                        <input class="form-control-no-border edi text-lowercase email u" type="email"
                                            placeholder="Correo electrónico" autocomplete="off"
                                            style="padding: 1px; width: 100%;" name="email" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="phone-call"></i>
                                        Móvil
                                    </th>
                                    <td>
                                        <input class="form-control-no-border edi movil u" type="tel"
                                            data-mask="000-000-0000" placeholder="Numero celular" autocomplete="off"
                                            style="padding: 1px; width: 100%;" name="movil" id="movil" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="map"></i>
                                        Dirección
                                    </th>
                                    <td>
                                        <input class="form-control-no-border edi direccion u" type="text"
                                            placeholder="Dirección de residencia" autocomplete="off"
                                            style="padding: 1px; width: 100%;" name="direccion" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <i class="feather-md" data-feather="user-plus"></i>
                                    </th>
                                    <td>
                                        <a class="btn btn-outline-dark btn-sm float-right mr-3" id="AgregarCliente"><i
                                                class="fas fa-fw fa-user-plus"></i>
                                            Agregar cliente</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="card-footer mb-4">
                <button type="submit" class="btn btn-primary float-right">Ingresar</button>
                <button type="reset" class="btn btn-danger float-right mr-1">Cancelar</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- BEGIN primary modal -->
<div class="modal fade" id="ModalConfir" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
                <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                    <a class="reditar" data-dismiss="modal" aria-label="Close">
                        <i class="feather mr-0" data-feather="x"></i></a>
                </div>
            </div>
            <div class="modal-body m-1">
                <h2 class="text-center mb-3">Seguro desea eliminar esta factura?</h2>
                <button class="btn btn-outline-danger float-center" id="btnDeletf" data-dismiss="modal"
                    aria-label="Close">Si</button>
                <button class="btn btn-outline-danger float-center" data-dismiss="modal" aria-label="Close">NO</button>
            </div>
        </div>
    </div>
</div>