<input type="hidden" id="proyecto" value="">
<input type="hidden" id="idproyecto" value="">
<div class="container-fluid p-0">
    <div class="row" id="cuadro2" style="display: none;">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                        <a class="r atras"><i class="feather-lg mr-0" data-feather="arrow-left-circle"></i></a>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-6 col-xl-6 col-xxl-6">
                            <strong>Facturacion</strong>
                            <ul class="timeline mt-2 mb-0">
                                <li class="timeline-item">
                                    <strong>Reserva a facturar</strong>
                                    <span class="float-right text-muted text-sm facturas">30m ago</span>
                                    <p id="facturas"></p>
                                </li>
                                <li class="timeline-item">
                                    <strong>Totales</strong>
                                    <span class="float-right text-muted text-sm"><span
                                            class="badge badge-success total"></span></span>
                                    <p class="clientes"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table id="datatable" class="table table-striped table-hover table-sm display nowrap"
                        style="width:100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>MZ</th>
                                <th>LT</th>
                                <th>MT2</th>
                                <th>ESTADO</th>
                                <th>VALOR</th>
                                <th>CUOTA I</th>
                                <th style="width:5%;">DSCP</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cuadro1">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200"
                                    alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/img/avatars/avatar.svg" height="200" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <h5 class="card-title">Facturas</h5>
                    <h6 class="card-subtitle text-muted">Use contextual classes to color table rows
                        or
                        individual cells.</h6>
                </div>
                <div class="card-body">
                    <table id="datatable2" class="table table-striped table-sm table-hover responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Categoria</th>
                                <th>Producto</th>
                                <th>Fecha</th>
                                <th>Porcentage</th>
                                <th>Mtrs²</th>
                                <th>Valormetro²</th>
                                <th>Total</th>
                                <th>Mzs</th>
                                <th>Lts</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="cuadro3" style="display: none;">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">CREACION DE PRODUCTOS</h5>
                    <h6 class="card-subtitle text-muted">Productos Elite</h6>
                    <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                        <a class="r atras"><i class="feather-lg mr-0" data-feather="arrow-left-circle"></i></a>
                    </div>
                </div>
                <form action="/links/regispro" method="POST">
                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" class="client" value="" name="client">
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="user"></i>
                                                PRODUCTO
                                            </th>
                                            <td>
                                                <select class="form-control-no-border edi" name="categoria"
                                                    style="padding: 1px; width: 100%;" required>
                                                    <option value="PROYECTO CAMPESTRE">PROYECTO CAMPESTRE</option>
                                                    <option value="CONSTUCCION">CONSTUCCIÓN</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="credit-card"></i>
                                                NOMBRE PDO
                                            </th>
                                            <td>
                                                <input class="form-control-no-border edi text-uppercase" type="text"
                                                    placeholder="NOMBRE DEL PROYECTO" autocomplete="off"
                                                    style="padding: 1px; width: 100%;" name="title" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <br>
                                                <div class="text-center">
                                                    <h6>TOTAL MTR²</h6>
                                                </div>
                                                <div class="text-center">
                                                    <input class="form-control-no-border text-center v" type="text"
                                                        name="totalmtr2" autocomplete="off" id="tmt2"
                                                        placeholder="Digite total de mtr²"
                                                        style="padding: 1px; width: 80%; background-color: #FFFFCC;" required>
                                                </div>
                                            </th>
                                            <th>
                                                <br>
                                                <div class="text-center">
                                                    <h6>VALOR MTR²</h6>
                                                </div>
                                                <div class="text-center">
                                                    <input class="form-control-no-border text-center v" type="text"
                                                        name="valmtr2" id="vmt2" autocomplete="off"
                                                        placeholder="Digite el precio del mtr²"
                                                        style="padding: 1px; width: 80%; background-color: #FFFFCC;"
                                                        data-mask="000.000.000" data-mask-reverse="true"
                                                        data-mask-selectonfocus="true" required>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="text-center">
                                                    <h6>SEPARACION</h6>
                                                </div>
                                                <div class="text-center">
                                                    <input class="form-control-no-border text-center v"
                                                        name="separacion" autocomplete="off" type="text"
                                                        placeholder="Monto de separacion"
                                                        style="padding: 1px; width: 80%; background-color: #FFFFCC;"
                                                        data-mask="000.000.000" data-mask-reverse="true"
                                                        data-mask-selectonfocus="true" required>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="text-center">
                                                    <h6>INSENTIVO</h6>
                                                </div>
                                                <div class="text-center">
                                                    <input class="form-control-no-border text-center v" name="incentivo"
                                                        autocomplete="off" type="text"
                                                        placeholder="Insentivo por separacion"
                                                        style="padding: 1px; width: 80%; background-color: #FFFFCC;"
                                                        data-mask="000.000.000" data-mask-reverse="true"
                                                        data-mask-selectonfocus="true" required>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="map-pin"></i>
                                                COSTE DEL PROYEYO
                                            </th>
                                            <td>
                                                <div class="text-center">
                                                    <span
                                                        class="badge badge-dark text-center text-md-center valproyect">$0.000.000.000</span>
                                                </div>

                                                <input type="hidden" name="valproyect" id="valproyect">

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="calendar"></i> INICIO Y TERMINACÍON
                                            </th>
                                            <td>
                                                <input type="hidden" id="inicio" name="fecha">
                                                <input type="hidden" id="fin" name="fechafin">
                                                <div id="reportrange" class="overflow-hidden form-control">
                                                    <i class="far fa-calendar"></i>&nbsp;
                                                    <span></span> <i class="fas fa-caret-down"></i>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="heart"></i>
                                                CUOTA INICIAL
                                            </th>
                                            <td>
                                                <select class="form-control-no-border edi proveedor" name="porcentage"
                                                    style="padding: 1px; width: 100%;text-align:center;" required>
                                                    <option value="15">15%</option>
                                                    <option value="20">20%</option>
                                                    <option value="25">25%</option>
                                                    <option value="30">30%</option>
                                                    <option value="35">35%</option>
                                                    <option value="40">40%</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="heart"></i>
                                                PROVEEDOR
                                            </th>
                                            <td>
                                                <select class="form-control-no-border edi proveedor" name="proveedor"
                                                    style="padding: 1px; width: 100%;" required>
                                                    {{#each proveedores}}
                                                    <option value="{{id}}">{{empresa}}</option>
                                                    {{/each}}
                                                    <option value="0">OTRO</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="MANZANAS">
                                                    <label class="custom-control-label" for="MANZANAS">MANZANAS</label>
                                                </div>
                                            </th>
                                            <td>
                                                <input class="form-control-no-border text-center float-right mr-2"
                                                    type="text" placeholder="0" autocomplete="off" name="mzs" id="mzs"
                                                    style="padding: 1px; width: 100px; background: #7f8c8d;" disabled>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="home"></i>
                                                LOTES
                                            </th>
                                            <td>
                                                <input class="form-control-no-border text-center float-right mr-2"
                                                    type="text" id="lts" placeholder="0" autocomplete="off"
                                                    style="padding: 1px; width: 100px; background-color: #FFFFCC;"
                                                    name="cantidad" required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<div class="form-group col-md-1">
                            <input type="number" name="mz" class="form-control" placeholder="MZ" style="text-align:center">
                        </div>
                        <div class="form-group col-md-4 inic">
                            <input type="text" name="inicial" class="form-control" placeholder="CUOTA INICIAL" style="text-align:center" disabled>
                        </div>-->

                        <div class="row datos mt-3" id="datosproveedor" style="display: none;">
                            <div class="col-12 text-center">
                                <h2>DATOS PROVEEDOR</h2>
                            </div>
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="user"></i>
                                                <input class="form-control-no-border edi text-center text-uppercase"
                                                    type="text" placeholder="NOMBRE DEL PROVEEDOR" autocomplete="off"
                                                    style="padding: 1px; width: 80%;" name="empresa" disabled required>
                                            </th>
                                            <td>
                                                <i class="feather-md" data-feather="credit-card"></i>
                                                <input class="form-control-no-border edi text-center" type="text"
                                                    placeholder="DIGITE EL NIT" autocomplete="off"
                                                    style="padding: 1px; width: 80%;" name="nit" disabled required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <br>
                                                <div class="text-center">
                                                    <h6>BANCO</h6>
                                                </div>
                                                <div class="text-center">
                                                    <select class="form-control-no-border edi" name="banco"
                                                        style="padding: 1px; width: 80%;" disabled required>
                                                        <option value="nada">SELECCIONE UN BANCO</option>
                                                        <option value="Banco Agrario de Colombia">Banco Agrario de
                                                            Colombia
                                                        </option>
                                                        <option value="Banco AV Villas">Banco AV Villas</option>
                                                        <option value="Banco Caja Social">Banco Caja Social</option>
                                                        <option value="Banco de Occidente">Banco de Occidente</option>
                                                        <option value="Banco Popular">Banco Popular</option>
                                                        <option value="Banco Falabella">Banco Falabella</option>
                                                        <option value="Banco Finandina">Banco Finandina</option>
                                                        <option value="Banco Itaú Corpbanca">Banco Itaú Corpbanca
                                                        </option>
                                                        <option value="Banco Santander">Banco Santander</option>
                                                        <option value="Banco de Occidente">Banco de Occidente</option>
                                                        <option value="Bancóldex">Bancóldex</option>
                                                        <option value="Bancolombia">Bancolombia</option>
                                                        <option value="BBVA Colombia">BBVA Colombia</option>
                                                        <option value="Banco de Bogotá">Banco de Bogotá</option>
                                                        <option value="Citi Colombia">Citi Colombia</option>
                                                        <option value="Citibank">Citibank</option>
                                                        <option value="Colpatria">Colpatria</option>
                                                        <option value="Davivienda">Davivienda</option>
                                                        <option value="GNB Sudameris">GNB Sudameris</option>
                                                        <option value="Multibank S.A.">Multibank S.A.</option>
                                                        <option value="Mundo mujer">Mundo mujer</option>
                                                        <option value="Red Multibanca Colpatria">Red Multibanca
                                                            Colpatria
                                                        </option>
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <br>
                                                <div class="text-center">
                                                    <h6>TIPO DE CUENTA</h6>
                                                </div>
                                                <div class="text-center">
                                                    <select class="form-control-no-border edi" name="cta"
                                                        style="padding: 1px; width: 80%;" disabled required>
                                                        <option value="nada">TIPO CTA.</option>
                                                        <option value="CTE">CTE</option>
                                                        <option value="AHO">AHO</option>
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="map-pin"></i>
                                                CUENTA
                                            </th>
                                            <td>
                                                <input class="form-control-no-border edi text-center text-uppercase"
                                                    type="text" placeholder="CUENTA" autocomplete="off"
                                                    style="padding: 1px; width: 100%;" name="numero" disabled required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6">
                                <table class="table table-sm my-2">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="map-pin"></i>
                                                EMAIL
                                            </th>
                                            <td>
                                                <input type="email" name="mail"
                                                    class="form-control-no-border edi text-lowercase"
                                                    placeholder="EMAIL" style="padding: 1px; width: 100%;" disabled
                                                    required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="phone-call"></i>
                                                MOVIL
                                            </th>
                                            <td>
                                                <input class="form-control-no-border edi text-lowercase" type="text"
                                                    name="tel" autocomplete="off" placeholder="MOVIL"
                                                    style="padding: 1px; width: 80%;" data-mask="000-000-0000" disabled
                                                    required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="map-pin"></i>
                                                DIRECCION
                                            </th>
                                            <td>
                                                <input type="text" name="direccion"
                                                    class="form-control-no-border edi text-lowercase"
                                                    placeholder="DIRECCION" style="padding: 1px; width: 100%;" disabled
                                                    required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                <i class="feather-md" data-feather="map-pin"></i>
                                                WEB
                                            </th>
                                            <td>
                                                <input type="url" name="web"
                                                    class="form-control-no-border edi text-lowercase"
                                                    placeholder="DOMINIO" style="padding: 1px; width: 100%;" disabled
                                                    required>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 datos" id="datosproducto"></div>
                            <div class="col-12 col-lg-6 datos" id="datosproducto2"></div>
                            <div class="col-12 col-lg-6 datos" id="sololotes">
                                <table class="table table-sm my-2">
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="col-12 col-lg-6 datos" id="sololotes2">
                                <table class="table table-sm my-2">
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer mb-4">
                        <button type="submit" class="btn btn-primary float-right">Ingresar</button>
                        <button type="reset" class="btn btn-danger float-right mr-1">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN primary modal -->
<div class="modal fade" id="ModalConfir" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
                <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                    <a class="reditar" data-dismiss="modal" aria-label="Close">
                        <i class="feather mr-0" data-feather="x"></i></a>
                </div>
            </div>
            <div class="modal-body m-1">
                <h2 class="text-center mb-3">Seguro que desea cambiar el precio del Metro² ?</h2>
                <button class="btn btn-outline-primary float-right" id="bt" data-dismiss="modal"
                    aria-label="Close">Cambiar</button>
                <button class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modaledit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Large modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/links/gf" method="POST">
                <div class="modal-body m-3">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="home"></i>
                                            PRODUCTO
                                        </th>
                                        <td>
                                            <select class="form-control-no-border edi" name="categoria"
                                                style="padding: 1px; width: 100%;" required>
                                                <option value="PROYECTO CAMPESTRE">PROYECTO CAMPESTRE</option>
                                                <option value="CONSTUCCION">CONSTUCCIÓN</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="framer"></i>
                                            NOMBRE PDO
                                        </th>
                                        <td>
                                            <input class="form-control-no-border edi text-uppercase" type="text"
                                                placeholder="NOMBRE DEL PROYECTO" autocomplete="off"
                                                style="padding: 1px; width: 100%;" name="title" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <br>
                                            <div class="text-center">
                                                <h6>TOTAL MTR²</h6>
                                            </div>
                                            <div class="text-center">
                                                <span
                                                    class="badge badge-info text-center text-md-center valproyect">000.000</span>
                                            </div>
                                            <input type="hidden" name="totalmtr2" id="tmt2">
                                        </th>
                                        <th>
                                            <br>
                                            <div class="text-center">
                                                <h6>VALOR MTR²</h6>
                                            </div>
                                            <div class="text-center">
                                                <span
                                                    class="badge badge-success text-center text-md-center valproyect">$0.000.000.000</span>
                                            </div>
                                            <input type="hidden" name="valmtr2" id="vmt2">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            <div class="text-center">
                                                <h6>SEPARACION</h6>
                                            </div>
                                            <div class="text-center">
                                                <input class="form-control-no-border text-center v" name="separacion"
                                                    autocomplete="off" type="text" placeholder="Monto de separacion"
                                                    style="padding: 1px; width: 80%; background-color: #FFFFCC;"
                                                    data-mask="000.000.000" data-mask-reverse="true"
                                                    data-mask-selectonfocus="true" required>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="text-center">
                                                <h6>INSENTIVO</h6>
                                            </div>
                                            <div class="text-center">
                                                <input class="form-control-no-border text-center v" name="incentivo"
                                                    autocomplete="off" type="text"
                                                    placeholder="Insentivo por separacion"
                                                    style="padding: 1px; width: 80%; background-color: #FFFFCC;"
                                                    data-mask="000.000.000" data-mask-reverse="true"
                                                    data-mask-selectonfocus="true" required>
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12 col-lg-6">
                            <table class="table table-sm my-2">
                                <tbody>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="dollar-sign"></i>
                                            COSTE DEL PROYEYO
                                        </th>
                                        <td>
                                            <div class="text-center">
                                                <span
                                                    class="badge badge-dark text-center text-md-center valproyect">$0.000.000.000</span>
                                            </div>
                                            <input type="hidden" name="valproyect" id="valproyect">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="calendar"></i> INICIO Y
                                            TERMINACÍON
                                        </th>
                                        <td>
                                            <input type="hidden" id="inicio" name="fecha">
                                            <input type="hidden" id="fin" name="fechafin">
                                            <div id="reportrange" class="overflow-hidden form-control">
                                                <i class="far fa-calendar"></i>&nbsp;
                                                <span></span> <i class="fas fa-caret-down"></i>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="percent"></i>
                                            CUOTA INICIAL
                                        </th>
                                        <td>
                                            <select class="form-control-no-border edi proveedor" name="porcentage"
                                                style="padding: 1px; width: 100%;text-align:center;" required>
                                                <option value="15">15%</option>
                                                <option value="20">20%</option>
                                                <option value="25">25%</option>
                                                <option value="30">30%</option>
                                                <option value="35">35%</option>
                                                <option value="40">40%</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <i class="feather-md" data-feather="user-check"></i>
                                            PROVEEDOR
                                        </th>
                                        <td>
                                            <select class="form-control-no-border edi proveedor" name="proveedor"
                                                style="padding: 1px; width: 100%;" required>
                                                {{#each proveedores}}
                                                <option value="{{id}}">{{empresa}}</option>
                                                {{/each}}
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-12">
                            <table id="datatabledit" class="table table-striped table-hover table-sm display nowrap"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>MZ</th>
                                        <th>LT</th>
                                        <th>MT2</th>
                                        <th>ESTADO</th>
                                        <th>VALOR</th>
                                        <th>CUOTA I</th>
                                        <th style="width:5%;">DSCP</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger">Eliminar Proyecto</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>