<main class="content">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <form id="creacliente" enctype="multipart/form-data">
                            <div class="row" id="addRecibos">
                                <div class="col-12 col-lg-12">
                                    <div class="d-inline-block float-right">
                                        <a class="r atras"><i class="feather-lg" data-feather="x-circle"></i></a>
                                    </div>
                                    <hr style="width: 90%;" />
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2">
                                        <tbody>
                                            <tr>
                                                <th>
                                                    <i class="feather-md" data-feather="file-plus"></i>
                                                    <input class="form-control-no-border edi" type="file" name="image"
                                                        data-toggle="tooltip" data-placement="top" data-container="body"
                                                        title="Selecciones las imagenes de recibos" autocomplete="off"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" id="file2" multiple style="width: 80%;"
                                                        onchange="preview(this);" required>
                                                </th>
                                                <td>
                                                    <input class="edi mr-1" type="text" id="recibgenerado"
                                                        data-toggle="tooltip" data-placement="top" data-container="body"
                                                        title="Monto total de los recibos" autocomplete="off"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="padding: 0.3px; width: 60%;"
                                                        required>
                                                    <input class="edi float-right" type="text" id="Nrecbg"
                                                        data-toggle="tooltip" data-placement="top" data-container="body"
                                                        title="Numero de Recibos a generar" autocomplete="off"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="padding: 0.3px; width: 20%;"
                                                        required>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2" id="recibos1"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-sm my-2" id="tablareci">
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <table class="table table-sm my-2" id="tablarecibos">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <table id="clientes" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Documento</th>
                                    <th>Fecha nc</th>
                                    <th>Lugar exp</th>
                                    <th>Fecha exp</th>
                                    <th>Estado cvl</th>
                                    <th>Movil</th>
                                    <th>Email</th>
                                    <th>Dirección</th>
                                    <th>Adjunto</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- BEGIN primary modal -->
<div class="modal fade" id="AdjutarDoc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adjuntar Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" id="enviarDoc" method="post">
                <div class="modal-body m-3">
                    <div class="row">
                        <div class="col-sm-12 text-center mb-2">
                            <i class="feather-lg text-danger" data-feather="credit-card"></i>
                        </div>
                        <div class="col-sm-12 text-center">
                            <input class="form-control-no-border edi" type="file" name="image" id="files" multiple
                                style="width: 50%;" required>
                        </div>
                        <div class="col-sm-12 text-center">
                            <p>Debes anexar el documento de ambas caras, no seran validas las imagenes borrosas</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>