<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Table with Buttons</h5>
                <h6 class="card-subtitle text-muted">This extension provides a framework with common options that can be
                    used with DataTables.</h6>
                <div class="">
                    <input type="text" class="form-control-no-border reditar" id="Date_search" data-toggle="tooltip"
                        data-placement="top" data-container="body" title="Haz click para editar fecha"
                        style="width: 300px; padding: 1px;">
                </div>
            </div>
            <div class="card-body">
                <table id="red2" class="table table-sm table-striped table-hover display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Pin</th>
                            <th>Nombre</th>
                            <th>Movil</th>
                            <th>Email</th>
                            <th>Registro</th>
                            <th>Porcetage</th>
                            <th>Rango</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <input type="hidden" id="tu" value="{{user.id}}">
                <table id="red" class="table table-sm table-striped table-hover display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Patro</th>
                            <th>Rango</th>
                            <th>Linea1</th>
                            <th>Rango1</th>
                            <th>Linea2</th>
                            <th>Rango2</th>
                            <th>Linea3</th>
                            <th>Rango3</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>