<!--<tr class="table-primary"></tr>
<tr class="table-success"></tr>-->
<main class="content">
    <input type="hidden" id="usuarioadmin" value="{{user.admin}}">
    <div class="container-fluid p-0">
        <div class="row" id="cuadro1">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <table id="datatable2" class="table table-sm table-striped table-hover display nowrap"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%;">Id</th>
                                    <th style="width:10%;">Proyecto</th>
                                    <th style="width:10%;">Mz</th>
                                    <th style="width:10%;">Lote</th>
                                    <th style="width:5%;">Estado</th>
                                    <th style="width:3%;">Cliente</th>
                                    <th style="width:15%;">Documento</th>
                                    <th style="width:15%;">Fecha</th>
                                    <th style="width:15%;">Asesor</th>                                    
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="row mt-4">
                            <div class="col-12 col-sm-5 col-md-7">
                                <table id="datatable3" class="table table-sm table-striped table-hover display nowrap"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width:1%;">Id</th>
                                            <th style="width:3%;">Fecha</th>
                                            <th style="width:2%;">Benefactor</th>
                                            <th style="width:2%;">Adquisidor</th>
                                            <th style="width:2%;" data-priority="1">Monto</th>
                                            <th style="width:1%;">Metodo</th>
                                            <th style="width:1%;">Recarga</th>
                                            <th style="width:3%;">Activa</th>
                                            <th style="width:2%;">Saldo</th>
                                            <th style="width:1%;">N° Ventas</th>
                                            <th style="width:1%;" data-priority="2">Estado</th>
                                            <th style="width:1%;" data-priority="10000">Recibo</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="col-12 col-sm-3 col-md-5">
                                <table id="datatable4" class="table table-sm table-striped table-hover display nowrap"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width:1%;">Id</th>
                                            <th style="width:3%;">F.Solicitud</th>
                                            <th style="width:3%;">Solicitante</th>
                                            <th style="width:2%;">monto</th>
                                            <th style="width:1%;">Transacción</th>
                                            <th style="width:2%;">Metodo</th>
                                            <th style="width:2%;">Producto</th>
                                            <th style="width:2%;">Activación</th>
                                            <th style="width:2%;" data-priority="2">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- BEGIN primary modal -->
<div class="modal fade" id="ModalOrden" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
                <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                    <a class="r" data-dismiss="modal" aria-label="Close">
                        <i class="feather mr-0" data-feather="x"></i></a>
                </div>
            </div>
            <div class="modal-body m-1">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row justify-content-between mb-1">
                            <div class="col-12">
                                <div class="mb-4">
                                    <i class="feather-md text-primary mr-0" data-feather="mail"></i>
                                    <input class="form-control-no-border edi" type="text" placeholder="Correo..."
                                        id="correo" autocomplete="off" style="width: 80%; padding: 1px;">
                                    <div class="progress progress-sm shadow-sm mb-0 reditarh" style="display: none;">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                            style="height: 20%; width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-4">
                                    <i class="feather-md text-primary mr-0" data-feather="mail"></i>
                                    <input class="form-control-no-border edi" type="text" placeholder="Contraseña..."
                                        id="contraseña" autocomplete="off" style="width: 80%; padding: 1px;">
                                    <div class="progress progress-sm shadow-sm mb-0 reditarh" style="display: none;">
                                        <div class="progress-bar bg-primary" role="progressbar"
                                            style="height: 20%; width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="idsms" value="">
                    <input type="hidden" id="cliente" value="">
                    <input type="hidden" id="cels" value="">
                    <div class="col-md-4">
                        <div class="text-center">
                            <img alt="Chris Wood" id="car" src="/img/car.jpg" class="rounded-circle img-responsive mt-2"
                                width="128" height="128" />
                            <small id="marka"></small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-1">
                            <i class="feather-md text-primary mr-0" data-feather="align-left"
                                style="margin-top: -10.5%;"></i>
                            <textarea id="smsdescripcion" class="form-control-no-border edi"
                                placeholder="Deja en claro cualquier observacio que tengas..." name="descripcion"
                                cols="60" rows="2" autocomplete="off" data-toggle="tooltip" data-placement="top"
                                data-container="body" title="Ingresa el SMS que le llegara al cliente"
                                style="width: 90%;"
                                maxlength="94">para mas información escríbenos al 3012673944 Whatsapp. RedFlix</textarea>
                            <div class="progress progress-sm shadow-sm mb-0 reditarh" style="display: none;">
                                <div class="progress-bar bg-primary" role="progressbar"
                                    style="height: 20%; width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--fin del body modal  style="display: none;"-->
            <div class="modal-footer editar">
                <a class="r mr-2 h4">Cancelar</a>
                <a class="r mr-2 h4" id="guardarOrden">Enviar</a>
            </div>
        </div>
    </div>
</div>