<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Table with Buttons</h5>
                <h6 class="card-subtitle text-muted">This extension provides a framework with common options that can be
                    used with DataTables.</h6>
                <div class="">
                    <input type="text" class="form-control-no-border reditar" id="Date_search" data-toggle="tooltip"
                        data-placement="top" data-container="body" title="Haz click para editar fecha"
                        style="width: 300px; padding: 1px;">
                </div>
            </div>
            <div class="card-body">
                <input type="hidden" id="tu" value="{{user.id}}">
                <table id="datatable" class="table table-sm table-striped table-hover display nowrap"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>proyecto</th>
                            <th>lote</th>
                            <th>Monto</th>
                            <th>Facturas V</th>
                            <th>Recibo</th>
                            <th data-priority="2">Estado</th>
                            <!--<th style="width:5%;" data-priority="10000">Recibo</th>
                            <th style="width:5%;" data-priority="2">Estado</th>-->
                            <th data-priority="1">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr>
                <h3>COMISIONES</h3>
                <table id="comisiones" class="table table-sm table-striped table-hover display nowrap"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Asesor</th>
                            <th>Fecha</th>
                            <th>Benefactor</th>
                            <th>Cliente</th>
                            <th>Monto</th>
                            <th>%</th>
                            <th>Total</th>
                            <th>Concepto</th>
                            <th>Descp</th>
                            <th>Mz</th>
                            <th>Lt</th>
                            <th data-priority="2">Estado</th>
                            <!--<th style="width:5%;" data-priority="10000">Recibo</th>
                            <th style="width:5%;" data-priority="2">Estado</th>-->
                            <th data-priority="1">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr>
                <h3>BONOS</h3>
                <table id="bonos" class="table table-sm table-striped table-hover display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>proyecto</th>
                            <th>lote</th>
                            <th>Monto</th>
                            <th>Facturas V</th>
                            <th>Recibo</th>
                            <th data-priority="2">Estado</th>
                            <!--<th style="width:5%;" data-priority="10000">Recibo</th>
                            <th style="width:5%;" data-priority="2">Estado</th>-->
                            <th data-priority="1">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <hr>
                <h3>PREMIOS</h3>
                <table id="premios" class="table table-sm table-striped table-hover display nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>proyecto</th>
                            <th>lote</th>
                            <th>Monto</th>
                            <th>Facturas V</th>
                            <th>Recibo</th>
                            <th data-priority="2">Estado</th>
                            <!--<th style="width:5%;" data-priority="10000">Recibo</th>
                            <th style="width:5%;" data-priority="2">Estado</th>-->
                            <th data-priority="1">Accion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN primary modal -->
<div class="modal fade" id="Modalimg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h5>
                <div class="d-inline-block mt-1 mr-3 mb-0 float-right">
                    <a class="reditar" data-dismiss="modal" aria-label="Close">
                        <i class="feather mr-0" data-feather="x"></i></a>
                </div>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="" class="card-img foto" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body text-primary h4">
                            <div class="mb-0 float-right">
                                <small class="text-muted fecha"></small><br>
                            </div>
                            <div class="mb-0">
                                <span class="align-middle card-text cliente"></span>
                            </div>
                            <div class="mb-0">
                                <span class="align-middle card-text proyecto"></span>
                            </div>
                            <div class="mb-0">
                                <span class="align-middle card-text lote"></span>
                            </div>
                            <div class="mb-0">
                                <span class="align-middle card-text recibo"></span>
                            </div>
                            <div class="mb-0">
                                <span class="align-middle card-text fatvc"></span>
                            </div>
                            <p class="card-text estado">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>