{{!  }}

<div class='card'>
  <div class='card-header'>
    <h1>AUN NO HAY NADA AQUI</h1>
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-6 col-lg-6 mb-2'>
        <hr style='width: 100%;' />
        <img class='img-thumbnail' id='wtspQr' src='{{qrBase64}}' alt='x' />
      </div>
      <div class='col-6 mb-2'>
        <hr style='width: 100%;' />
        <button type='button' class='btn btn-danger' disabled>Desconectar</button>
      </div>
    </div>
  </div>
</div>