<main class='content px-0 px-md-2 py-3'>
  <div class='container-fluid'>
    <div class='d-flex w-100 justify-content-between shadow-lg rounded'>
      <div class='flex-grow-1 p-2 p-md-4'>

        <table id='prices' class='table display nowrap w-100' style='font-size: inherit;'>
          <tbody></tbody>
        </table>
      </div>
      <div class='d-none d-md-block' style='width: 30rem;'>
        <div id='myHeader'>
          <div class='card shadow-lg rounded mt-2' style='width: 30rem; max-height: 33rem'>
            <div class='card-header rounded d-flex'>
              <img src='/img/subir.png' class='img-thumbnail img-fluid rounded' width='150' />
              <div class='flex-grow-1 pl-3 row'>
                <div class='col-12'>
                  <h3 class='mt-3 float-right' style='font-weight: bold;'>
                    $ 13,000.86
                  </h3>
                </div>
                <div class='col-12'>
                  <h2 class='' style='font-weight: bold; font-family: cursive;'>
                    ljslkfjsd;ljfsljflsdfs
                  </h2>
                </div>
                <div class='col-12 d-flex align-items-center'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='24'
                    height='24'
                    viewBox='0 0 24 24'
                    fill='none'
                    stroke='currentColor'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'
                    class='feather feather-heart mr-3'
                  >
                    <path
                      d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'
                    ></path>
                  </svg>
                  <span
                    class='badge badge-primary d-flex justify-content-between'
                    style='border-radius: 10rem;'
                  >
                    <div class='minctd pr-2'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-20 feather-trash-2'
                        style='display: none;'
                      >
                        <polyline points='3 6 5 6 21 6'></polyline><path
                          d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'
                        ></path><line x1='10' y1='11' x2='10' y2='17'></line><line
                          x1='14'
                          y1='11'
                          x2='14'
                          y2='17'
                        ></line>
                      </svg>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-20 feather-minus-circle'
                      >
                        <circle cx='12' cy='12' r='10'></circle><line
                          x1='8'
                          y1='12'
                          x2='16'
                          y2='12'
                        ></line>
                      </svg>
                    </div>
                    <input
                      class='cantidad invisible-input text-center'
                      type='text'
                      name='cantidad'
                      value='2'
                    />
                    <div class='maxctd pl-2'>
                      <svg
                        xmlns='http://www.w3.org/2000/svg'
                        width='24'
                        height='24'
                        viewBox='0 0 24 24'
                        fill='none'
                        stroke='currentColor'
                        stroke-width='2'
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        class='feather feather-20 feather-plus-circle'
                      ><circle cx='12' cy='12' r='10'></circle><line
                          x1='12'
                          y1='8'
                          x2='12'
                          y2='16'
                        ></line><line x1='8' y1='12' x2='16' y2='12'></line></svg>
                    </div>
                  </span>
                </div>
              </div>
            </div>
            <div class='card-body'>
              <small class='text-muted'>Descripcion:</small>
              <p class='card-text'>La plataforma ideal para grandes y pequeños negocios.</p>
              <small class='text-muted'>Caracteristicas:</small>
              <div class='row'>
                <div class='col-6'>
                  <i class='fa fa-circle fa-xs mr-1'></i>
                  <span class='text-capitalize'>
                    Modelo: Gtrps
                  </span>
                </div>
                <div class='col-6'>
                  <i class='fa fa-circle fa-xs mr-1'></i>
                  <span class='text-capitalize'>
                    Referencia: Gtrps
                  </span>
                </div>
                <div class='col-6'>
                  <i class='fa fa-circle fa-xs mr-1'></i>
                  <span class='text-capitalize'>
                    Clase: Generica
                  </span>
                </div>
                <div class='col-6'>
                  <i class='fa fa-circle fa-xs mr-1'></i>
                  <span class='text-capitalize'>
                    Serie: Andjfoieee
                  </span>
                </div>
              </div>
            </div>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>Manejo de inventario</li>
              <li class='list-group-item'>Control de usuarios</li>
              <li class='list-group-item'>ChatBot con IA ChatGPT</li>
            </ul>
            <div class='card-body'>
              <a href='/signup' class='card-link'>Reguitrate aqui</a>
              <a href='/signin' class='card-link'>Iniciar sesion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- BEGIN primary modal -->
<div class='modal fade' id='AddProduct' tabindex='-1' role='dialog' aria-hidden='true'>
  <div class='modal-dialog modal-dialog-centered modal-md' role='document'>
    <form id='crearproducto' enctype='multipart/form-data' class='w-100'>
      <div class='modal-content card position-relative'>
        <div
          class='position-absolute w-100 h-100'
          id='loading'
          style='left: 0; top: 0; z-index: 1000; background-color: rgba(0,0,0,0.4); display: flex; justify-content: center; align-items: center;'
        >
          <div class='text-white' style='text-align: center;'>
            <i class='fas fa-spinner fa-pulse fa-2x'></i>
            <strong class='mt-2'>Cargando...</strong>
          </div>
        </div>
        <div class='modal-header'>
          <h3 class='modal-title'>Creacion de combos y precios</h3>
          <a class='r atras close float-right' data-dismiss='modal' aria-label='Close'>
            <i class='feather-lg' data-feather='x-circle'></i>
          </a>
        </div>
        <div class='modal-body p-3 bg-light'>
          <div class='card mb-3 rounded-top'>
            <div class='row no-gutters'>
              <div class='col-md-4 position-relative'>
                <a class='r atras position-absolute' id='deleteImage' style='top: 5%; left: 5%;'>
                  <i class='feather-md' data-feather='x-circle'></i>
                </a>
                <img id='imagen' type='img' src='/img/subir.png' class='img-fluid' alt='imagen' />
                <button
                  type='button'
                  class='position-absolute btn btn-sm btn-outline-primary img'
                  style='bottom: 5%; left: 80%;'
                >
                  <i class='fas fa-fw fa-upload'></i>
                </button>
              </div>
              <div class='col-md-8'>
                <div class='card-body'>
                  <h5 class='card-title'>Datos del grupo</h5>
                  <div class='form-row'>
                    <div class='form-group col-md-2 col-2'>
                      <input type='file' name='image' id='inputFile' style='display: none;' />
                      <input type='text' class='form-control' name='id' readonly />
                    </div>
                    <div class='form-group col-md-6 col-10'>
                      <input
                        type='text'
                        class='form-control edi'
                        name='name'
                        placeholder='Nombre'
                        required
                      />
                    </div>
                    <div class='form-group col-md-4'>
                      <input
                        id='precio'
                        type='text'
                        class='form-control valor edi'
                        name='precio'
                        placeholder='Precio'
                        disabled
                        required
                      />
                    </div>
                    <div class='form-group col-md-12'>
                      {{! <label for=''>Descripcion</label> }}
                      <textarea
                        rows='2'
                        class='form-control edi'
                        name='descripcion'
                        placeholder='Describe tu producto de forma general'
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class='form-row'>
                    <div class='form-group col-md-12 text-right'>
                      <div class='form-check form-check-inline'>
                        <input
                          id='a'
                          class='form-check-input'
                          type='radio'
                          name='type'
                          value='UNITARIO'
                          checked
                          required
                        />
                        <label class='form-check-label' for='a'>Unitario</label>
                      </div>
                      <div class='form-check form-check-inline'>
                        <input
                          id='b'
                          class='form-check-input'
                          type='radio'
                          name='type'
                          value='COMBO'
                          required
                        />
                        <label class='form-check-label' for='b'>Combo</label>
                      </div>
                      <div class='form-check form-check-inline'>
                        <input
                          id='c'
                          class='form-check-input'
                          type='radio'
                          name='type'
                          value='RECETA'
                          required
                        />
                        <label class='form-check-label' for='c'>Receta</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class='form-row'>
            <div class='form-group col-9 col-md-4'>
              <input type='hidden' name='code' />
              <select class='form-control select2 droga' name='articulo' required></select>
              <input type='hidden' name='refId' />
            </div>
            <div class='form-group col-3 col-md-2'>
              <input
                type='text'
                class='form-control edi'
                name='cantidad'
                placeholder='Cant.'
                required
              />
            </div>
            <div class='form-group col-12 col-md-6'>
              <div class='input-group'>
                <div class='input-group-prepend' title='publicar este item'>
                  <div class='input-group-text'>
                    <input type='checkbox' class='public' onclick='publicProduct(this)' />
                    <input type='hidden' name='visible' value='0' />
                    <div class='dropdown imgref'>
                      <a class='img2' type='button' data-toggle='dropdown' aria-expanded='false'>
                        <i class='fas fa-image'></i>
                      </a>
                      <input class='imagen' type='file' name='imagen-0' style='display: none;' />

                      <div class='dropdown-menu p-2'>
                        <div class='d-flex align-items-start flex-column'>
                          <a class='r atras deleteImage'>
                            <i class='fas fa-fw fa-trash'></i>
                          </a>
                          <div class=''>
                            <img src='/img/subir.png' class='img-fluid imagen' alt='img' />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <input
                  class='form-control edi nota'
                  type='text'
                  name='valor'
                  placeholder='Precio'
                />
                <div class='input-group-append'>
                  <button
                    type='button'
                    class='btn btn-outline-danger'
                    id='hidelecte'
                    onclick='deleteProduct(this)'
                  >
                    <i class='fas fa-fw fa-trash'></i>
                  </button>
                  <button
                    type='button'
                    class='btn btn-outline-primary plus'
                    onclick='setProduct(this)'
                    disabled
                  >
                    <i class='fas fa-fw fa-plus'></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <button
            type='reset'
            class='btn btn-outline-danger'
            data-dismiss='modal'
            aria-label='Close'
          >
            <i class='fas fa-fw fa-ban'></i>
            Cancelar
          </button>
          <button type='submit' class='btn btn-outline-primary'>
            <i class='fas fa-fw fa-plus'></i>
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END primary modal -->

<script src='/controllers/products.js'></script>