<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, shrink-to-fit=no">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
  <meta name="description" content="Bienes Raices &amp; RedElite Finca Raiz">
  <meta name="author" content="RETFLY">
  <!--Let browser know website is optimized for mobile-->
  <title>RED ELITE</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link href="/css/stilos.css" rel="Stylesheet" id="linkestilo">

  <!-- PICK ONE OF THE STYLES BELOW -->
  <!-- <link href="css/classic.css" rel="stylesheet"> -->
  <link href="/css/corporate.css" rel="stylesheet">
  <!-- <link href="/css/modern.css" rel="stylesheet"> -->
  <!-- <script src="//site.com/playerjs.js" type="text/javascript"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css"/>

  <style type="text/css">
    .controls {
      margin-top: 1%;
      border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 25px;
      outline: none;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #origin-input,
    #destination-input {
      color: mediumblue;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 500;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 35%;
    }

    #origin-input:focus,
    #destination-input:focus {
      border-color: #4d90fe;
    }

    @media print {
      #imprimir {
        background-color: white;
        height: 3508px;
        width: 2480px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
      }

      .card-footer {
        position: fixed;
        /* Set the navbar to fixed position */
        bottom: 0;
        /* Position the navbar at the bottom of the page */
        width: 100%;
        /* Full width */
      }
    }

    .zoom {
      -webkit-transition: all .9s ease;
      /* Safari y Chrome */
      -moz-transition: all .9s ease;
      /* Firefox */
      -o-transition: all .9s ease;
      /* IE 9 */
      -ms-transition: all .9s ease;
      /* Opera */
      width: 100%;
    }

    .zoom:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25);
    }








    /*@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");*/
    @import url('https://fonts.googleapis.com/css2? family-Open+Sans:ital@1&display-swap');

    .center {
      font-family: 'Open Sans', sans-serif;
      /*font-style: italic;*/
      font-size: 1.25em;
      font-weight: 400;
      line-height: 1.25em;
      letter-spacing: 0.025em;
      color: #333;
      background: #F7F7F7;
      position: absolute;
      bottom: 70px;
      margin-bottom: -50px;
      right: 25px;
      opacity: 0;
      visibility: hidden;
      transition: all 500ms ease;
    }

    .pic {
      width: 4rem;
      height: 4rem;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    .contact {
      position: relative;
      margin-bottom: 1rem;
      padding-left: 5rem;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .contact .pic {
      position: absolute;
      left: 0;
    }

    .contact .name {
      font-weight: 500;
      margin-bottom: 0.125rem;
    }

    .contact .message,
    .contact .seen {
      font-size: 0.9rem;
      color: #999;
    }

    .contact .badge {
      box-sizing: border-box;
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      font-size: 0.9rem;
      padding-top: 0.125rem;
      border-radius: 1rem;
      top: 0;
      left: 2.5rem;
      background: #333;
      color: white;
    }

    .contacts {
      position: absolute;
      top: 50%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translate(-6rem, -50%);
      width: 24rem;
      height: 32rem;
      padding: 1rem 2rem 1rem 1rem;
      opacity: 0;
      visibility: hidden;
      box-sizing: border-box;
      border-radius: 1rem 0 0 1rem;
      cursor: pointer;
      background: white;
      box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
      transition: transform 500ms;
    }

    .contactos {
      width: 23rem;
      flex-shrink: 2;
      overflow-y: auto;
      box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
    }

    .contacts h2 {
      margin: 0.5rem 0 1.5rem 5rem;
    }

    .contacts .fa-bars {
      position: absolute;
      left: 2.25rem;
      color: #999;
      transition: color 200ms;
    }

    .contacts .fa-bars:hover {
      color: #666;
    }

    .contacts .contact:last-child {
      margin: 0;
    }

    .contacts:hover {
      transform: translate(-23rem, -50%);
    }

    .chat {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24rem;
      height: 38rem;
      z-index: 2;
      box-sizing: border-box;
      border-radius: 1rem;
      background: white;
      box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    }

    .chat .contact.bar {
      flex-basis: 3.5rem;
      flex-shrink: 0;
      margin: 1rem;
      box-sizing: border-box;
    }

    .chat .messages {
      padding: 1rem;
      background: #F7F7F7;
      flex-shrink: 2;
      overflow-y: auto;
      overflow-x: hidden;
      box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
    }

    .chat .messages .time {
      font-size: 0.8rem;
      background: #EEE;
      padding: 0.25rem 1rem;
      border-radius: 2rem;
      color: #999;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      margin: 0 auto;
    }

    .chat .messages .message {
      box-sizing: border-box;
      padding: 0.9rem 0.9rem;
      margin: 0.3rem;
      background: #FFF;
      border-radius: 1.125rem 1.125rem 1.125rem 0;
      min-height: 2.25rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 95%;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);      
    }

    .chat .messages .message.parker {
      margin: 0.3rem 0.3rem 0.3rem auto;
      border-radius: 1.125rem 1.125rem 0 1.125rem;
      background: #FFFFCC; /*rgb(221, 165, 165);
      color: white;*/
    }

    .chat .messages .message .typing {
      display: inline-block;
      width: 0.8rem;
      height: 0.8rem;
      margin-right: 0rem;
      box-sizing: border-box;
      background: #ccc;
      border-radius: 50%;
    }

    .chat .messages .message .typing.typing-1 {
      -webkit-animation: typing 3s infinite;
      animation: typing 3s infinite;
    }

    .chat .messages .message .typing.typing-2 {
      -webkit-animation: typing 3s 250ms infinite;
      animation: typing 3s 250ms infinite;
    }

    .chat .messages .message .typing.typing-3 {
      -webkit-animation: typing 3s 500ms infinite;
      animation: typing 3s 500ms infinite;
    }

    .chat .input {
      box-sizing: border-box;
      flex-basis: 4rem;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      padding: 0 0.5rem 0 1.5rem;
    }

    .chat .input i {
      font-size: 1.5rem;
      margin-right: 1rem;
      color: #666;
      cursor: pointer;
      transition: color 200ms;
    }

    .chat .input i:hover {
      color: #333;
    }

    .chat .input input {
      border: none;
      background-image: none;
      background-color: white;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      border-radius: 1.125rem;
      flex-grow: 2;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
      font-family: Red hat Display, sans-serif;
      font-weight: 400;
      letter-spacing: 0.025em;
    }

    .chat .input input:placeholder {
      color: #999;
    }

    @-webkit-keyframes typing {

      0%,
      75%,
      100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
      }

      25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
      }
    }

    @keyframes typing {

      0%,
      75%,
      100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
      }

      25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
      }
    }

    .pic.stark {
      background-image: url("https://c0.klipartz.com/pngpicture/719/903/gratis-png-iconos-de-computadora-avatar-icono-de-avatar.png");
    }







    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #btn-mas {
      display: none;
    }

    .contain {
      position: fixed;
      bottom: 40px;
      right: 20px;
      width: 0%;
      height: 4%;
      z-index: 2020;
    }

    .redes a,
    .icon-mas2 {
      display: block;
      text-decoration: none;
      background: #cc2b2b;
      color: #fff;
      width: 55px;
      height: 55px;
      line-height: 55px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
      transition: all 500ms ease;
    }

    .redes a:hover {
      background: #fff;
      color: #cc2b2b;
    }

    .redes a {
      margin-bottom: -15px;
      opacity: 0;
      visibility: hidden;
    }

    #btn-mas:checked~.redes a {
      margin-bottom: 10px;
      opacity: 1;
      visibility: visible;
    }

    .icon-mas2 {
      cursor: pointer;
      background: #f44141;
      font-size: 23px;
    }

    #btn-mas:checked~.btn-mas .icon-mas2 {
      transform: rotate(137deg);
      font-size: 25px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    {{>navigation}}
    <div class="main">
      {{>navigation2}}
      {{{ body }}}
      {{>footer}}
    </div>
  </div>
  <!--<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_2TwyNJiGQwKXDVHOM4_I3jg69qvHc-Y&libraries=places&callback=initMap"
    async defer></script>-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script type="text/javascript" src="/js/jspdf.plugin.autotable.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
  <script src="/js/moment-locales.min.js"></script>
  <script src="/js/scriptss.js"></script>
  <script src="/js/playerjs.js"> </script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js"></script>
  {{>message}}
</body>

</html>